<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="leader-content" class="ui stackable grid">
    <div class="ui blue toast" id="domtoast"></div>
    <input type="hidden" class="class-id-input" th:value="${student.getClassId()}">
    <input type="hidden" class="group-id-input" th:value="${group.get_id()}">
    <div class="row">
        <div class="column">
            <div class="header">
                <div class="ui large blue label">
                    <i class="users icon nav-icon"></i>
                    <span th:text="${group.getGroupName()}"></span>
                </div>
                <div class="ui large grey label">
                    <i class="users icon"></i>
                    Quản lý nhóm
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="ui stackable grid segment">
                <div class="row">
                    <div class="four wide column">
                        <div class="ui tabular vertical fluid menu">
                            <a class="active blue item topic-management" onclick="showTab('topic-management')">
                                <i class="book open icon"></i>
                                Quản lí đề tài
                            </a>
                            <a class="blue item members" onclick="showTab('members')">
                                <i class="users icon"></i>
                                Quản lí thành viên
                            </a>
                            <a class="item roles" onclick="showTab('roles')">
                                <i class="user tag icon"></i>
                                Quản lí quyền
                            </a>
                            <a class="item guests" onclick="showTab('guests')">
                                <i class="eye icon"></i>
                                Quản lí khách
                            </a>
                        </div>
                    </div>
                    <div class="twelve wide stretched column">
                        <div class="ui active tab segment topic-management" th:if="${topic == null}">
                            <div class="ui huge center aligned header">
                                Your group has no topic assigned
                            </div>
                            <div class="ui horizontal divider">
                                <span style="color: #DB2828">
                                    <i class="clock icon"></i>
                                    Deadline: 12:00 18/09/2020
                                </span>
                            </div>
                            <div class="ui form select-topic">
                                <div class="field">
                                    <div class="fields">
                                        <div class="eleven wide field">
                                            <div class="ui search selection dropdown topic-dropdown">
                                                <input type="hidden" name="topicId">
                                                <i class="dropdown icon"></i>
                                                <div class="default text">Select topic</div>
                                            </div>
                                        </div>
                                        <div class="five wide field">
                                            <div class="ui green right floated icon labeled submit button">
                                                <i class="paper plane icon"></i>
                                                Select topic
                                            </div>
                                            <div class="ui blue icon right floated labeled button"
                                                 onclick="showTopicDetails()">
                                                <i class="search icon"></i>
                                                View details
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui error message"></div>
                            </div>
                        </div>
                        <div class="ui active tab segment topic-management" th:unless="${topic == null}">
                            <div class="ui blue large header">
                                Đề tài: <span class="topic-name" th:text="${topic.getName()}"></span>
                                <button class="ui right floated blue small basic icon edit-iteration button"
                                        style="padding-top: 10px" data-tooltip="Change topic" th:if="${isSetupPhase}"
                                        onclick="showModal('.modal.change-topic')">
                                    <i class="pencil icon"></i>
                                </button>
                            </div>
                            <div class="ui divider"></div>
                            <div class="ui segment" style="padding-top: 30px">
                                <a class="ui top attached icon grey label">
                                    <i class="list icon"></i>&nbsp
                                    Mô tả
                                </a>
                                <span class="detail-text"
                                      th:text="${topic.getDescriptions()}">Something something</span>
                            </div>
                            <div class="ui divider"></div>
                            <table class="ui grey celled table topic-file">
                                <thead>
                                <tr>
                                    <th class="one wide">#</th>
                                    <th class="seven wide">Name</th>
                                    <th class="four wide">Timestamp</th>
                                    <th class="three wide center aligned"></th>
                                </tr>
                                </thead>
                                <tbody class="topic-table">
                                <tr class="file-cell" th:each="file, iter: ${topic.getFiles()}"
                                    th:id="${'file_' + file.get_id()}">
                                    <td class="number" th:text="${iter.count}"></td>
                                    <td class="name" th:text="${file.getFileName()}"></td>
                                    <td class="timestamp"
                                        th:text="${#temporals.format(file.getTimeStamp(), 'dd/MM/yyyy HH:mm:ss')}"></td>
                                    <td class="center aligned">
                                        <!--                    <button class="ui green icon button preview-file" data-tooltip="Preview file"><i-->
                                        <!--                            class="eye icon"></i></button>-->
                                        <a class="ui green icon button download-file" data-tooltip="Download file"
                                           th:href="${'/api/files/spec/topic/' + file.get_id()}"><i
                                                class="download icon"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="ui tab segment members">
                            <div class="ui stackable grid">
                                <div class="row">
                                    <div class="column">
                                        <div class="ui icon labeled teal button"
                                             onclick="showModal('.modal.invite-student')">
                                            <i class="paper plane icon"></i>
                                            Mời
                                        </div>
                                        <div class="ui black right floated button">
                                            Giới hạn: 3-5
                                        </div>
                                    </div>
                                </div>
                                <div class="ui divider" style="margin: 0 !important;"></div>
                                <div class="row">
                                    <div class="column">
                                        <div class="ui divided items members-view"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui tab segment roles">
                            <table class="ui celled black table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th class="center aligned">Trưởng nhóm</th>
                                    <th class="center aligned">Quản lí</th>
                                    <th class="center aligned">Thành viên</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Hà Tuấn Phong</td>
                                    <td class="center aligned"><i class="large green check icon"></i></td>
                                    <td class="center aligned"></td>
                                    <td class="center aligned"></td>
                                </tr>
                                <tr>
                                    <td>Nguyễn Ngọc Lâm</td>
                                    <td class="center aligned"></td>
                                    <td class="center aligned"><i class="large green check icon"></i></td>
                                    <td class="center aligned"></td>
                                </tr>
                                <tr>
                                    <td>Lê Trung Thông</td>
                                    <td class="center aligned"></td>
                                    <td class="center aligned"></td>
                                    <td class="center aligned"><i class="large green check icon"></i></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="ui green icon labeled button">
                                <i class="save icon"></i>
                                Lưu
                            </div>
                        </div>
                        <div class="ui tab segment guests">
                            <div class="ui stackable grid">
                                <div class="row">
                                    <div class="column">
                                        <div class="ui icon labeled teal button">
                                            <i class="paper plane icon"></i>
                                            Mời
                                        </div>
                                    </div>
                                </div>
                                <div class="ui divider" style="margin: 0 !important;"></div>
                                <div class="row">
                                    <div class="column">
                                        <div class="ui divided items">
                                            <div class="item">
                                                <div class="ui tiny circular image">
                                                    <img th:src="@{/images/default.png}">
                                                </div>
                                                <div class="content">
                                                    <div class="header">Đặng Đức Hạnh</div>
                                                    <div class="meta">
                                                        <i class="orange star icon"></i>
                                                        Giảng viên
                                                    </div>
                                                    <div class="description">
                                                        <p></p>
                                                        <div class="ui tiny red icon labeled button right floated"
                                                             onclick="showModal('.modal.remove-member')">
                                                            <i class="futbol outline icon"></i>
                                                            Yeet
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui modal invite-student">
        <div class="ui dimmer">
            <div class="ui loader"></div>
        </div>
        <div class="ui large header">
            <i class="green paper plane icon"></i>
            Mời
        </div>
        <div class="content">
            <div class="ui form invite-student">
                <input type="hidden" name="groupId" th:value="${student.getGroupId()}">
                <div class="required field">
                    <label>Thành viên</label>
                    <div class="ui search selection multiple dropdown unassigned-student-dropdown">
                        <input type="hidden" name="members">
                        <i class="dropdown icon"></i>
                        <div class="default text">Select members to invite</div>
                    </div>
                </div>
                <div class="field">
                    <label>Nội dung lời mời</label>
                    <textarea name="message" placeholder="Nội dung..."></textarea>
                </div>
                <div class="ui error message"></div>
                <div class="ui grey labeled icon button" onclick="hideModal('.modal.invite-student')">
                    <i class="close icon"></i>
                    Hủy
                </div>
                <button class="ui right floated green labeled icon submit button">
                    <i class="plus icon"></i>
                    Thêm
                </button>
            </div>
        </div>
    </div>
    <div class="ui small modal change-topic">
        <div class="ui large header">
            <i class="blue large pencil icon"></i>
            Change topic
        </div>
        <div class="content">
            <div class="ui form select-topic">
                <div class="field">
                    <div class="fields">
                        <div class="eleven wide field">
                            <div class="ui search selection dropdown topic-dropdown">
                                <input type="hidden" name="topicId">
                                <i class="dropdown icon"></i>
                                <div class="default text">Select topic</div>
                            </div>
                        </div>
                        <div class="five wide field">
                            <div class="ui blue icon right floated labeled button"
                                 onclick="showTopicDetails()">
                                <i class="search icon"></i>
                                View details
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui error message"></div>
                <div class="ui grey labeled icon button" onclick="hideModal('.modal.change-topic')">
                    <i class="close icon"></i>
                    Hủy
                </div>
                <div class="ui green right floated icon labeled submit button">
                    <i class="paper plane icon"></i>
                    Select topic
                </div>
            </div>
        </div>
    </div>
    <div class="ui modal topic-details">
        <div class="ui large header">
            <i class="green large info circle icon"></i>
            <span class="topic-name"></span>
        </div>
        <div class="content">
            <div class="ui segment" style="padding-top: 30px">
                <a class="ui top attached icon grey label">
                    <i class="list icon"></i>&nbsp
                    Mô tả
                </a>
                <span class="description-text">Something something</span>
            </div>
            <div class="ui divider"></div>
            <table class="ui grey celled table topic-file">
                <thead>
                <tr>
                    <th class="one wide">#</th>
                    <th class="seven wide">Name</th>
                    <th class="four wide">Timestamp</th>
                    <th class="three wide center aligned"></th>
                </tr>
                </thead>
                <tbody class="topic-table"></tbody>
            </table>
            <div class="ui grey labeled icon button" onclick="hideModal('.modal.topic-details')">
                <i class="close icon"></i>
                Close
            </div>
        </div>
    </div>
    <div class="ui small modal remove-member">
        <div class="ui dimmer">
            <div class="ui loader"></div>
        </div>
        <div class="ui large header">
            <i class="red sign out alternate icon"></i>
            Warning
        </div>
        <div class="content">
            <div class="ui form remove-member">
                <input type="hidden" name="id">
                <div class="field">
                    <label>Do you want to remove this member?</label>
                </div>
                <button class="ui red labeled icon submit button">
                    <i class="check icon"></i>
                    Yes
                </button>
                <div class="ui grey labeled right floated icon button" onclick="hideModal('.modal.remove-member')">
                    <i class="close icon"></i>
                    No
                </div>
            </div>
        </div>
    </div>
    <div class="ui modal" id="templates">
        <table>
            <tbody>
            <tr class="file-cell">
                <td class="number"></td>
                <td class="name"></td>
                <td class="timestamp"></td>
                <td class="center aligned">
                    <!--                    <button class="ui green icon button preview-file" data-tooltip="Preview file"><i-->
                    <!--                            class="eye icon"></i></button>-->
                    <a class="ui green icon button download-file" data-tooltip="Download file"><i
                            class="download icon"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="item group-member-template" style="display: none">
        <div class="ui tiny circular image">
            <img class="avatar-image" th:src="@{/images/default.png}">
        </div>
        <div class="content">
            <div class="header">Member Name</div>
            <div class="meta member-description">
                Description
            </div>
            <div class="description">
                <p></p>
                <div class="ui tiny red icon labeled right floated remove-member button">
                    <i class="futbol outline icon kick-button"></i>
                    Yeet
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/student/leader/api.js}"></script>
    <script type="text/javascript" th:src="@{/js/student/leader/group.js}"></script>
    <script type="text/javascript" th:src="@{/js/student/common/group.js}"></script>
    <style>
        .tab.segment {
            margin: 0 !important;
        }
    </style>
</div>
<div th:fragment="member-content" class="ui stackable grid">
    <input type="hidden" class="group-id-input" th:value="${group.get_id()}">
    <div class="row">
        <div class="column">
            <div class="header">
                <div class="ui large blue label">
                    <i class="users icon nav-icon"></i>
                    <span th:text="${group.getGroupName()}"></span>
                </div>
                <div class="ui large grey label">
                    <i class="users icon"></i>
                    Thông tin nhóm
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="four wide column">
            <div class="ui tabular vertical fluid menu">
                <a class="active blue item topic" onclick="showTab('topic')">
                    <i class="book open icon"></i>
                    Thông tin đề tài
                </a>
                <a class="blue item members" onclick="showTab('members')">
                    <i class="users icon"></i>
                    Thông tin thành viên
                </a>
            </div>
        </div>
        <div class="twelve wide stretched column">
            <div class="ui active tab segment topic" th:if="${topic == null}">
                <div class="ui huge center aligned header">
                    Your group has no topic assigned
                </div>
                <div class="ui horizontal divider">
                    <span style="color: #DB2828">
                        <i class="clock icon"></i>
                        Deadline: 12:00 18/09/2020
                    </span>
                </div>
            </div>
            <div class="ui active tab segment topic" th:unless="${topic == null}">
                <div class="ui blue large header">
                    Đề tài: <span class="topic-name" th:text="${topic.getName()}"></span>
                </div>
                <div class="ui divider"></div>
                <div class="ui segment" style="padding-top: 30px">
                    <a class="ui top attached icon grey label">
                        <i class="list icon"></i>&nbsp
                        Mô tả
                    </a>
                    <span class="detail-text"
                          th:text="${topic.getDescriptions()}">Something something</span>
                </div>
                <div class="ui divider"></div>
                <table class="ui grey celled table topic-file">
                    <thead>
                    <tr>
                        <th class="one wide">#</th>
                        <th class="seven wide">Name</th>
                        <th class="four wide">Timestamp</th>
                        <th class="three wide center aligned"></th>
                    </tr>
                    </thead>
                    <tbody class="topic-table">
                    <tr class="file-cell" th:each="file, iter: ${topic.getFiles()}"
                        th:id="${'file_' + file.get_id()}">
                        <td class="number" th:text="${iter.count}"></td>
                        <td class="name" th:text="${file.getFileName()}"></td>
                        <td class="timestamp"
                            th:text="${#temporals.format(file.getTimeStamp(), 'dd/MM/yyyy HH:mm:ss')}"></td>
                        <td class="center aligned">
                            <!--                    <button class="ui green icon button preview-file" data-tooltip="Preview file"><i-->
                            <!--                            class="eye icon"></i></button>-->
                            <a class="ui green icon button download-file" data-tooltip="Download file"
                               th:href="${'/api/files/spec/topic/' + file.get_id()}"><i
                                    class="download icon"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="ui tab segment members">
                <div class="ui stackable grid">
                    <div class="row">
                        <div class="column">
                            <div class="ui divided items members-view"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item group-member-template" style="display: none">
        <div class="ui tiny circular image">
            <img class="avatar-image" th:src="@{/images/default.png}">
        </div>
        <div class="content">
            <div class="header">Member Name</div>
            <div class="meta member-description">
                Description
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/student/member/api.js}"></script>
    <script type="text/javascript" th:src="@{/js/student/common/group.js}"></script>
    <style>
        .tab.segment {
            margin: 0 !important;
        }
    </style>
</div>
</body>
</html>