<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="leader-content" class="ui stackable grid">
    <div class="row">
        <div class="column">
            <div class="header">
                <div class="ui large grey label">
                    <i class="users icon"></i>
                    Cài đặt nhóm
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="ui stackable grid segment">
                <div class="row">
                    <div class="four wide column">
                        <div class="ui vertical fluid menu">
                            <div class="active blue item members" onclick="showTab('members')">
                                <i class="users icon"></i>
                                Quản lí thành viên
                            </div>
                            <div class="item roles" onclick="showTab('roles')">
                                <i class="user tag icon"></i>
                                Quản lí quyền
                            </div>
                            <div class="item github-connect" onclick="showTab('github-connect')">
                                <i class="github icon"></i>
                                Liên kết Github
                            </div>
                            <div class="item guests" onclick="showTab('guests')">
                                <i class="eye icon"></i>
                                Quản lí khách
                            </div>
                        </div>
                    </div>
                    <div class="twelve wide stretched column">
                        <div class="ui active tab segment members">
                            <div class="ui stackable grid">
                                <div class="row">
                                    <div class="column">
                                        <div class="ui icon labeled teal button">
                                            <i class="paper plane icon"></i>
                                            Mời
                                        </div>
                                        <div class="ui black right floated button">
                                            Giới hạn: 3-5
                                        </div>
                                    </div>
                                </div>
                                <div class="ui divider" style="margin: 0 !important;"></div>
                                <div class="row">
                                    <div class="column">
                                        <div class="ui divided items">
                                            <div class="item">
                                                <div class="ui tiny circular image">
                                                    <img th:src="@{/images/default.png}">
                                                </div>
                                                <div class="content">
                                                    <div class="header">Hà Tuấn Phong</div>
                                                    <div class="meta">
                                                        Description
                                                    </div>
                                                    <div class="description">
                                                        <p></p>
                                                        <div class="ui tiny red icon labeled button right floated">
                                                            <i class="futbol outline icon"></i>
                                                            Yeet
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="ui tiny circular image">
                                                    <img th:src="@{/images/default.png}">
                                                </div>
                                                <div class="content">
                                                    <div class="header">Nguyễn Ngọc Lâm</div>
                                                    <div class="meta">
                                                        Description
                                                    </div>
                                                    <div class="description">
                                                        <p></p>
                                                        <div class="ui tiny red icon labeled button right floated">
                                                            <i class="futbol outline icon"></i>
                                                            Yeet
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="ui tiny circular image">
                                                    <img th:src="@{/images/default.png}">
                                                </div>
                                                <div class="content">
                                                    <div class="header">Lê Trung Thông</div>
                                                    <div class="meta">
                                                        Description
                                                    </div>
                                                    <div class="description">
                                                        <p></p>
                                                        <div class="ui tiny red icon labeled button right floated">
                                                            <i class="futbol outline icon"></i>
                                                            Yeet
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui tab segment roles">
                            <table class="ui celled black table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th class="center aligned">Trưởng nhóm</th>
                                    <th class="center aligned">Quản lí</th>
                                    <th class="center aligned">Thành viên</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Hà Tuấn Phong</td>
                                    <td class="center aligned"><i class="large green check icon"></i></td>
                                    <td class="center aligned"></td>
                                    <td class="center aligned"></td>
                                </tr>
                                <tr>
                                    <td>Nguyễn Ngọc Lâm</td>
                                    <td class="center aligned"></td>
                                    <td class="center aligned" ><i class="large green check icon"></i></td>
                                    <td class="center aligned" ></td>
                                </tr>
                                <tr>
                                    <td>Lê Trung Thông</td>
                                    <td class="center aligned"></td>
                                    <td class="center aligned"></td>
                                    <td class="center aligned"><i class="large green check icon"></i></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="ui green icon labeled button">
                                <i class="save icon"></i>
                                Lưu
                            </div>
                        </div>
                        <div class="ui tab segment github-connect">
                            <div class="ui header">
                                Connect to <span class="ui blue text"><i class="github icon"></i>Github</span> feature: <span class="ui red text">IN DEVELOPMENT</span>
                            </div>
                        </div>
                        <div class="ui tab segment guests">
                            <div class="ui stackable grid">
                                <div class="row">
                                    <div class="column">
                                        <div class="ui icon labeled teal button">
                                            <i class="paper plane icon"></i>
                                            Mời
                                        </div>
                                    </div>
                                </div>
                                <div class="ui divider" style="margin: 0 !important;"></div>
                                <div class="row">
                                    <div class="column">
                                        <div class="ui divided items">
                                            <div class="item">
                                                <div class="ui tiny circular image">
                                                    <img th:src="@{/images/default.png}">
                                                </div>
                                                <div class="content">
                                                    <div class="header">Đặng Đức Hạnh</div>
                                                    <div class="meta">
                                                        <i class="orange star icon"></i>
                                                        Giảng viên
                                                    </div>
                                                    <div class="description">
                                                        <p></p>
                                                        <div class="ui tiny red icon labeled button right floated">
                                                            <i class="futbol outline icon"></i>
                                                            Yeet
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/student/leader/group.js}"></script>
    <style>
        .tab.segment {
            margin: 0 !important;
        }
    </style>
</div>
<div th:fragment="member-content">
     Member view
</div>
</body>
</html>