<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="leader-content" class="ui stackable grid">
    <input type="hidden" name="groupId" th:value="${groupId}">
    <input type="hidden" name="classId" th:value="${classId}">
    <div class="row">
        <div class="column">
            <div class="header">
                <div class="ui large blue label">
                    <i class="recycle icon"></i>
                    Planning
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="ui segment">
                <div class="ui grid">
                    <div class="row">
                        <div class="four wide column">
                            <div class="ui vertical fluid tabular menu" style="min-height: 50vh">
                                <a class="item new" th:if="${isSetupPhase}">
                                    <div class="ui fluid blue button" id="newIteration">New</div>
                                    <div class="ui fluid input" id="nameInput" style="display: none">
                                        <input class="new-iteration" type="text" style="margin-right: 0.5em"
                                               placeholder="iteration name...">
                                        <div class="ui blue icon button" style="margin-right: 0"
                                             onclick="createIterationForm()"><i class="plus icon"></i></div>
                                        <div class="ui red icon button" style="margin-right: 0; margin-left: 0.2em"
                                             onclick="cancelIterationInput()"><i class="times icon"></i></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--content go here-->
                        <div class="twelve wide stretched column" id="segmentContainer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui modal" id="templates">
        <div class="ui iteration form">
            <div class="ui large blue header">
                <div class="ui fluid input">
                    <input type="text" name="name" placeholder="Iteration name">
                </div>
            </div>
            <div class="field">
                <div class="fields">
                    <div class="eight wide required field">
                        <label>Start date</label>
                        <div class="ui calendar start-date-picker">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" name="startDate" placeholder="Start date">
                            </div>
                        </div>
                    </div>
                    <div class="eight wide required field">
                        <label>End date</label>
                        <div class="ui calendar end-date-picker">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" name="endDate" placeholder="End date">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Objective</label>
                <textarea name="objective" placeholder="TODO..."></textarea>
            </div>
            <div class="ui grey icon labeled button" onclick="cancelIterationForm()"><i class="close icon"></i>Cancel
            </div>
            <div class="ui blue icon labeled right floated submit button"><i class="save icon"></i>Save
            </div>
        </div>
        <div class="ui iteration grid">
            <div class="row">
                <div class="column">
                    <div class="ui blue large header">
                        <span class="iteration-name">Iteration Name</span>
                        <button class="ui right floated red small basic icon button" th:if="${isSetupPhase}"
                                style="padding-top: 10px" onclick="showModal('.modal.delete-iteration')"
                                data-tooltip="Delete iteration">
                            <i class="trash icon"></i>
                        </button>
                        <button class="ui right floated blue small basic icon edit-iteration button"
                                th:if="${isSetupPhase}"
                                style="padding-top: 10px" data-tooltip="Edit iteration">
                            <i class="pencil icon"></i>
                        </button>
                    </div>
                    <input type="hidden" name="iterationId">
                    <div class="ui divider"></div>
                    <div class="ui grey icon label">
                        <i class="clock icon"></i>&nbsp
                        <span class="form-date"></span> - <span class="to-date"></span>
                    </div>
                    <div class="ui segment" style="padding-top: 30px">
                        <a class="ui top attached icon grey label">
                            <i class="check icon"></i>&nbsp
                            Objective
                        </a>
                        <span class="objective-text"></span>
                    </div>
                    <div class="ui divider"></div>
                    <input type="file" id="upload-code" hidden onchange="uploadCode()">
                    <a class="ui blue icon labeled button" onclick="$('#upload-code').click()">
                        <i class="code icon"></i>
                        Submit Code
                    </a>
                    <table class="ui grey celled table repo-file">
                        <thead>
                        <tr>
                            <th class="one wide">#</th>
                            <th class="seven wide">Name</th>
                            <th class="four wide">Timestamp</th>
                            <th class="three wide center aligned"></th>
                        </tr>
                        </thead>
                        <tbody class="repo-table"></tbody>
                    </table>
                    <div class="ui divider"></div>
                    <input type="file" id="upload-diagram" hidden onchange="uploadCode()">
                    <a class="ui blue icon labeled button" onclick="$('#upload-diagram').click()">
                        <i class="code icon"></i>
                        Submit Diagram
                    </a>
                    <table class="ui grey celled table repo-file">
                        <thead>
                        <tr>
                            <th class="one wide">#</th>
                            <th class="seven wide">Name</th>
                            <th class="four wide">Timestamp</th>

                            <th class="three wide center aligned"></th>
                        </tr>
                        </thead>
                        <tbody class="repo-table"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <table>
            <tbody>
            <tr class="code-cell">
                <td class="number"></td>
                <td class="name"></td>
                <td class="timestamp"></td>
                <td class="center aligned">
                    <button class="ui icon button delete-file"><i class="trash icon"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="ui small modal delete-iteration">
        <div class="ui dimmer">
            <div class="ui loader"></div>
        </div>
        <div class="ui large header">
            <i class="red trash icon"></i>
            Warning
        </div>
        <div class="content">
            <div class="ui form delete-iteration">
                <input type="hidden" name="id">
                <div class="field">
                    <label>Do you really want to delete this iteration?</label>
                </div>
                <div class="ui error message"></div>
                <button class="ui red labeled icon submit button">
                    <i class="check icon"></i>
                    Yes
                </button>
                <div class="ui grey labeled right floated icon button" onclick="hideModal('.modal.delete-iteration')">
                    <i class="close icon"></i>
                    No
                </div>
            </div>
        </div>
    </div>
    <div class="ui small modal delete-code">
        <div class="ui dimmer">
            <div class="ui loader"></div>
        </div>
        <div class="ui large header">
            <i class="red trash icon"></i>
            Warning
        </div>
        <div class="content">
            <div class="ui form delete-code">
                <input type="hidden" name="id">
                <div class="field">
                    <label>Do you really want to delete this file?</label>
                </div>
                <div class="ui error message"></div>
                <button class="ui red labeled icon submit button">
                    <i class="check icon"></i>
                    Yes
                </button>
                <div class="ui grey labeled right floated icon button" onclick="hideModal('.modal.delete-code')">
                    <i class="close icon"></i>
                    No
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/student/leader/api.js}" type="text/javascript"></script>
    <script th:src="@{/js/student/leader/iteration.js}" type="text/javascript"></script>
    <style>
        .iteration.segment {
            margin: 0;
        }
    </style>
</div>
<div th:fragment="member-content"></div>
</body>
</html>