<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="leader-content" class="ui stackable grid">
    <input type="hidden" name="requirementId" th:value="${requirement.get_id()}">
    <input type="hidden" name="groupId" th:value="${group.get_id()}">
    <div class="row">
        <div class="column">
            <div class="ui segment">
                <div class="ui header">
                    <i class="blue info icon"></i>
                    Specification
                </div>
                <div class="ui form requirement-form">
                    <div class="fields">
                        <div class="eight wide required field">
                            <label>Title</label>
                            <input name="name" placeholder="Title..." th:value="${requirement.getName()}">
                        </div>
                        <div class="eight wide field">
                            <label>Parent requirement</label>
                            <div class="ui search selection dropdown parent-requirement">
                                <input type="hidden" name="parentReq" th:value="${requirement.getParentReq()}">
                                <i class="dropdown icon"></i>
                                <div class="default text">None</div>
                                <div class="menu">
                                    <div class="item" data-value="requirement-id">Requirement Title</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="eight wide required field">
                        <label>Type</label>
                        <div class="ui selection dropdown">
                            <input type="hidden" name="type">
                            <i class="dropdown icon"></i>
                            <div class="default text">None</div>
                            <div class="menu">
                                <div class="item" data-value="functional">Functional</div>
                                <div class="item" data-value="non-functional">Non-functional</div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Description</label>
                        <textarea name="description" placeholder="Description..."
                                  th:value="${requirement.getDescription()}"></textarea>
                    </div>
                    <div class="ui error message"></div>
                    <div class="ui blue submit button">Save</div>
                </div>
            </div>
            <div class="ui divider"></div>
            <div class="ui segment">
                <div class="ui header">
                    <i class="blue linkify icon"></i>
                    Attachments
                </div>
                <table class="ui small celled black table">
                    <thead>
                    <tr>
                        <th class="one wide center aligned">#</th>
                        <th class="seven wide">File name</th>
                        <th class="three wide">Uploaded by</th>
                        <th class="three wide">Date uploaded</th>
                        <th class="three wide"></th>
                    </tr>
                    </thead>
                    <tbody class="requirement-table">
                    <tr th:each="file, iter: ${files}" th:id="${file.get_id()}">
                        <td class="center aligned number" th:text="${iter.count}">1</td>
                        <td class="name" th:text="${file.getFileName()}">vopc.jpg</td>
                        <td class="uploader" th:text="${file.getUploader().getFullName()}">Ha Tuan Phong</td>
                        <td class="timestamp" th:text="${#temporals.format(file.getTimeStamp(), 'dd/MM/yyyy HH:mm:ss')}">7/7/2020</td>
                        <td class="center aligned">
                            <a class="ui green icon button download-file" th:href="${'/api/files/spec/req/' + file.get_id()}"><i class="download icon"></i></a>
                            <a class="ui red icon button delete-file" th:id="${file.get_id()}"><i class="trash icon"></i></a>
                        </td>
                    </tr>
                    <tr class="upload-row">
                        <td colspan="5">
                            <input type="file" id="upload-file" hidden onchange="uploadFile()">
                            <div class="ui tiny green icon labeled button"
                                 onclick="$('#upload-file').click()">
                                <i class="upload icon"></i>Add
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="ui divider"></div>
            <div class="ui header"><i class="blue clock icon"></i>Change history</div>
            <div class="ui segment">
                <div class="ui grid">
                    <div class="two column row">
                        <div class="six wide column">
                            <div class="ui vertical grey inverted fluid menu">
                                <a class="item">
                                    <div class="content">
                                        <div class="header">Change log 22/1</div>
                                        <div class="description">
                                            Updated by: <img class="ui avatar image"
                                                             th:src="@{/images/default.png}">
                                            Vo Le Minh Tam
                                        </div>
                                    </div>
                                </a>
                                <a class="active item">
                                    <div class="content">
                                        <div class="header">Change log 23/1</div>
                                        <div class="description">
                                            Updated by: <img class="ui avatar image"
                                                             th:src="@{/images/default.png}">
                                            Vo Le Minh Tam
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="ten wide column">
                            <div class="ui inverted grey segment full height">
                                <div class="ui grid">
                                    <div class="row">
                                        <div class="column">
                                            <div class="ui inverted grey header">Change log 22/1</div>
                                            <div class="ui divider"></div>
                                            <div>
                                                <span style="font-weight: bold">Title: </span><span
                                                    class="requirement title">something</span>
                                            </div>
                                            <p><span style="font-weight: bold">Description: </span>As
                                                visitor I get the most-searched hotels in the
                                                neighborhood right away, while other hotels are
                                                loading in the background, so I more quickly get
                                                results;</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui small modal delete-file">
        <div class="ui dimmer">
            <div class="ui loader"></div>
        </div>
        <div class="ui large header">
            <i class="red trash icon"></i>
            Warning
        </div>
        <div class="content">
            <div class="ui form delete-file">
                <input type="hidden" name="id">
                <div class="field">
                    <label>Do you really want to delete this file?</label>
                </div>
                <div class="ui error message"></div>
                <button class="ui red labeled icon submit button">
                    <i class="check icon"></i>
                    Yes
                </button>
                <div class="ui grey labeled right floated icon button" onclick="hideModal('.modal.delete-file')">
                    <i class="close icon"></i>
                    No
                </div>
            </div>
        </div>
    </div>
    <div class="ui modal" id="templates">
        <table>
            <tbody>
            <tr class="file-cell">
                <td class="center aligned number"></td>
                <td class="name"></td>
                <td class="uploader"></td>
                <td class="timestamp"></td>
                <td class="center aligned">
                    <a class="ui green icon button download-file" ><i class="download icon"></i></a>
                    <a class="ui red icon button delete-file"><i class="trash icon"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script type="text/javascript" src="/js/student/leader/api.js"></script>
    <script type="text/javascript" src="/js/student/leader/new-requirement.js"></script>
</div>
<div th:fragment="member-content" class="ui stackable grid"></div>
</body>
</html>