<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="leader-content" class="ui stackable grid">
    <div class="row">
        <div class="column">
            <div class="ui segment">
                <div class="ui header">
                    <i class="blue info icon"></i>
                    Specification
                </div>
                <div class="ui form">
                    <div class="fields">
                        <div class="eight wide required field">
                            <label>Title</label>
                            <input name="title" placeholder="Title...">
                        </div>
                        <div class="eight wide field">
                            <label>Parent requirement</label>
                            <div class="ui search selection dropdown">
                                <i class="dropdown icon"></i>
                                <div class="default text">None</div>
                                <div class="menu">
                                    <div class="item" data-value="requirement-id">Requirement Title</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="eight wide required field">
                        <label>Type</label>
                        <div class="ui selection dropdown">
                            <i class="dropdown icon"></i>
                            <div class="default text">None</div>
                            <div class="menu">
                                <div class="item" data-value="functional">Functional</div>
                                <div class="item" data-value="non-functional">Non-functional</div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Description</label>
                        <textarea name="description" placeholder="Description..."></textarea>
                    </div>
                    <div class="ui blue button">Save</div>
                </div>
            </div>
            <div class="ui divider"></div>
            <div class="ui segment">
                <div class="ui header">
                    <i class="blue linkify icon"></i>
                    Attachments
                </div>
                <table class="ui small celled black table">
                    <thead>
                    <tr>
                        <th class="one wide center aligned">#</th>
                        <th class="eight wide">File name</th>
                        <th class="three wide">Uploaded by</th>
                        <th class="four wide">Date uploaded</th>
                        <th class="onw wide"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="center aligned">1</td>
                        <td>vopc.jpg</td>
                        <td>Ha Tuan Phong</td>
                        <td>7/7/2020</td>
                        <td class="center aligned">
                            <div class="ui grey icon button"><i class="trash icon"></i></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="ui divider"></div>
            <div class="ui segment">
                <div class="ui header"><i class="blue linkify icon"></i>Work items</div>
                <div class="ui grid">
                    <div class="row">
                        <div class="column">
                            <div class="ui raised cards">
                                <a class="card">
                                    <div class="content">
                                        <div class="header">Work item #1</div>
                                        <div class="description">
                                            Assigned to:
                                            <div class="ui avatar image">
                                                <img th:src="@{/images/default.png}">
                                            </div>
                                            Vo Le Minh Tam
                                        </div>
                                    </div>
                                    <div class="extra content">
                                        State:<span style="float: right">Approved</span>
                                    </div>
                                </a>
                                <a class="card">
                                    <div class="content">
                                        <div class="header">Work item #2</div>
                                        <div class="description">
                                            Assigned to:
                                            <div class="ui avatar image">
                                                <img th:src="@{/images/default.png}">
                                            </div>
                                            Vo Le Minh Tam
                                        </div>
                                    </div>
                                    <div class="extra content">
                                        State:<span style="float: right">Approved</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
            <div class="ui header"><i class="blue clock icon"></i>Change history</div>
            <div class="ui segment">
                <div class="ui grid">
                    <div class="two column row">
                        <div class="six wide column">
                            <div class="ui vertical grey inverted fluid menu">
                                <a class="item">
                                    <div class="content">
                                        <div class="header">Change log 22/1</div>
                                        <div class="description">
                                            Updated by: <img class="ui avatar image"
                                                             th:src="@{/images/default.png}">
                                            Vo Le Minh Tam
                                        </div>
                                    </div>
                                </a>
                                <a class="active item">
                                    <div class="content">
                                        <div class="header">Change log 23/1</div>
                                        <div class="description">
                                            Updated by: <img class="ui avatar image"
                                                             th:src="@{/images/default.png}">
                                            Vo Le Minh Tam
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="ten wide column">
                            <div class="ui inverted grey segment full height">
                                <div class="ui grid">
                                    <div class="row">
                                        <div class="column">
                                            <div class="ui inverted grey header">Change log 22/1</div>
                                            <div class="ui divider"></div>
                                            <div>
                                                <span style="font-weight: bold">Title: </span><span
                                                    class="requirement title">something</span>
                                            </div>
                                            <p><span style="font-weight: bold">Description: </span>As
                                                visitor I get the most-searched hotels in the
                                                neighborhood right away, while other hotels are
                                                loading in the background, so I more quickly get
                                                results;</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="member-content" class="ui stackable grid"></div>
</body>
</html>