<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="leader-content" class="ui stackable grid">
    <link rel="stylesheet" th:href="@{/css/student/requirement.css}">
    <div class="row">
        <div class="column">
            <div class="header">
                <div class="ui large blue label"><i class="glasses icon"></i>Requirement Management</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="ui segment">
                <div class="ui stackable grid">
                    <div class="four wide column">
                        <div class="ui segment" style="overflow: auto">
                            <div class="ui large bulleted relaxed list">

                            </div>
                            <a class="item new">
                                <div class="ui fluid blue button" id="newRequirement" onclick="showModal('.modal.create-requirement')">New</div>
                                <div class="ui fluid input" id="nameInput" style="display: none">
                                    <input class="new-requirement" type="text" style="margin-right: 0.5em"
                                           placeholder="Requirement name...">
                                    <div class="ui blue icon button" style="margin-right: 0"
                                         onclick="createRequirementForm()"><i class="plus icon"></i></div>
                                    <div class="ui red icon button" style="margin-right: 0; margin-left: 0.2em"
                                         onclick="cancelRequirementInput()"><i class="times icon"></i></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="twelve wide column" id="reqContainer">
                        <div class="ui segment" id="segmentContainer">
                            <div class="ui grid">
                                <div class="row">
                                    <div class="column">
                                        <div class="ui header"><i class="blue file alternate icon"></i>Requirement Title
                                        </div>
                                        <div class="ui divider"></div>
                                        <div class="ui segment" style="padding-top: 30px">
                                            <a class="ui top attached icon grey label">
                                                <i class="check icon"></i> Description
                                            </a>
                                            <span>Requirement Description</span>
                                        </div>
                                        <div class="ui divider"></div>
                                        <div class="ui header">
                                            <i class="blue copy icon"></i>Attachments
                                        </div>
                                        <div class="ui tiny icon labeled green button"><i class="upload icon"></i>Upload
                                        </div>
                                        <div class="ui bulleted relaxed list">
                                            <a class="item">
                                                spec.docx
                                            </a>
                                            <a class="item">
                                                spec2.docx
                                            </a>
                                        </div>
                                        <div class="ui divider"></div>
                                        <div class="ui header"><i class="blue linkify icon"></i>Work items</div>
                                        <div class="ui grid">
                                            <div class="row">
                                                <div class="column">
                                                    <div class="ui raised cards">
                                                        <a class="card">
                                                            <div class="content">
                                                                <div class="header">Work item #1</div>
                                                                <div class="description">
                                                                    Assigned to:
                                                                    <div class="ui avatar image">
                                                                        <img th:src="@{/images/default.png}">
                                                                    </div>
                                                                    Vo Le Minh Tam
                                                                </div>
                                                            </div>
                                                            <div class="extra content">
                                                                State:<span style="float: right">Approved</span>
                                                            </div>
                                                        </a>
                                                        <a class="card">
                                                            <div class="content">
                                                                <div class="header">Work item #2</div>
                                                                <div class="description">
                                                                    Assigned to:
                                                                    <div class="ui avatar image">
                                                                        <img th:src="@{/images/default.png}">
                                                                    </div>
                                                                    Vo Le Minh Tam
                                                                </div>
                                                            </div>
                                                            <div class="extra content">
                                                                State:<span style="float: right">Approved</span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui divider"></div>
                                        <div class="ui header"><i class="blue clock icon"></i>Change history</div>
                                        <div class="ui grid">
                                            <div class="two column row">
                                                <div class="six wide column">
                                                    <div class="ui segment">
                                                        <div class="ui vertical fluid tabular menu">
                                                            <div class="item">
                                                                <div class="content">
                                                                    <div class="header">Change log 22/1</div>
                                                                    <div class="description">
                                                                        Updated by: <img class="ui avatar image"
                                                                                         th:src="@{/images/default.png}">
                                                                        Vo Le Minh Tam
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="active item">
                                                                <div class="content">
                                                                    <div class="header">Change log 23/1</div>
                                                                    <div class="description">
                                                                        Updated by: <img class="ui avatar image"
                                                                                         th:src="@{/images/default.png}">
                                                                        Vo Le Minh Tam
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ten wide column">
                                                    <div class="ui segment full height">
                                                        <div class="ui grid">
                                                            <div class="row">
                                                                <div class="column">
                                                                    <div class="ui header">Change log 22/1</div>
                                                                    <div class="ui divider"></div>
                                                                    <div>
                                                                        <span style="font-weight: bold">Title: </span><span
                                                                            class="requirement title">something</span>
                                                                    </div>
                                                                    <p><span
                                                                            style="font-weight: bold">Description: </span>As
                                                                        visitor I get the most-searched hotels in the
                                                                        neighborhood right away, while other hotels are
                                                                        loading in the background, so I more quickly get
                                                                        results;</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui modal" id="templates">
        <div class="ui requirement form" id="new-requirement">
            <div class="ui large blue header">
                <div class="ui fluid input">
                    <input type="text" name="name" placeholder="Iteration name">
                </div>
            </div>
            <div class="ui divider"></div>
            <div class="ui form">
                <div class="ten wide required field">
                    <label>Title</label>
                    <input type="text" name="title" placeholder="Title">
                </div>
                <div class="required field">
                    <label>Description</label>
                    <textarea name="description" placeholder="Description"></textarea>
                </div>
                <div class="ui blue icon labeled submit button" onClick="createRequirementForm()"><i
                        class="save icon"></i>
                    Save
                </div>
                <div class="ui red icon labeled button right floated" onclick="cancelRequirementForm()"><i
                        class="trash icon"></i>
                    Cancel
                </div>
            </div>
        </div>
    </div>
    <div class="ui modal create-requirement">
        <div class="ui large header">
            <i class="glasses icon"></i>
            New requirement
        </div>
    </div>
    <style>
        .list .header:hover > span {
            color: #2185D0 !important;
            text-decoration: underline !important;
            cursor: pointer;
        }
    </style>
    <script th:src="@{/js/student/leader/requirement.js}" type="text/javascript"></script>
</div>
<div th:fragment="member-content">
    This is member requirement management view
</div>
</body>
</html>