<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="body-content" class="ui stackable grid">
    <input type="hidden" class="class-id-input" th:value="${student.getClassId()}">
    <div class="row">
        <div class="nine wide centered column">
            <div class="ui huge center aligned header">
                Bạn chưa tham gia vào nhóm nào!
            </div>
            <div class="ui horizontal divider">
                <span style="color: #DB2828">
                    <i class="clock icon"></i>
                    Thời hạn: 12:00 18/09/2020
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="nine wide centered column">
            <div class="ui form">
                <div class="field">
                    <div class="fields">
                        <div class="eleven wide field">
                            <div class="ui search selection dropdown group-dropdown">
                                <input type="hidden">
                                <i class="dropdown icon"></i>
                                <div class="default text">Chọn nhóm</div>
                            </div>
                        </div>
                        <div class="five wide field">
                            <div class="ui green right floated icon labeled button">
                                <i class="paper plane icon"></i>
                                Gửi yêu cầu
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui horizontal divider">Hoặc</div>
    <div class="row">
        <div class="nine wide centered column ui segment">
            <div class="ui large header">
                <i class="green users icon"></i>
                Tạo nhóm mới
            </div>
            <div class="ui form create-group">
                <input type="hidden" name="leaderId" th:value="${student.get_id()}">
                <input type="hidden" name="classId" th:value="${student.getClassId()}">
                <div class="ui dimmer">
                    <div class="ui loader"></div>
                </div>
                <div class="ui divider"></div>
                <div class="content">
                    <div class="eight wide required field">
                        <label>Tên nhóm</label>
                        <input type="text" name="groupName" placeholder="Group name">
                    </div>
                    <div class="field">
                        <label>Thành viên</label>
                        <div class="ui search selection multiple dropdown unassigned-student-dropdown">
                            <input type="hidden" name="members">
                            <i class="dropdown icon"></i>
                            <div class="default text">Select members to invite</div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Nội dung lời mời</label>
                        <textarea name="message" placeholder="Nội dung..."></textarea>
                    </div>
                    <div class="ui error message"></div>
                    <button class="ui right floated green labeled icon submit button">
                        <i class="plus icon"></i>
                        Thêm
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/student/unassigned/api.js"></script>
    <script type="text/javascript" src="/js/student/unassigned/unassigned.js"></script>
</div>
</body>
</html>