<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="leader-content" class="ui stackable grid">
    <input type="hidden" name="workItemId" th:value="${workItem.get_id()}">
    <input type="hidden" name="groupId" th:value="${group.get_id()}">
    <div class="row">
        <div class="column">
            <div class="header">
                <div class="ui large labels">
                    <a class="ui small icon button" data-tooltip="Back to board" href="/student/boards">
                        <i class="arrow circle left icon"></i>
                    </a>
                    <div class="ui large black label">
                        <i class="tasks icon"></i>
                        <span th:text="${workItem.getName()}">Work item #1</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="ui segment">
                <div class="ui stackable grid">
                    <div class="row">
                        <div class="column">
                            <div class="ui work-item form">
                                <div class="fields">
                                    <div class="ten wide required field">
                                        <label>Work item name</label>
                                        <div class="ui fluid input">
                                            <input type="text" name="name" th:value="${workItem.getName()}"
                                                   placeholder="Iteration name">
                                        </div>
                                    </div>
                                    <div class="six wide field">
                                        <label>&nbsp;</label>
                                        <div class="ui green icon labeled right floated submit button">
                                            <i class="save icon"></i>
                                            Save
                                        </div>
                                    </div>
                                </div>
                                <div class="ui divider"></div>
                                <div class="ui segment">
                                    <div class="fields">
                                        <div class="four wide required field">
                                            <label>Iteration</label>
                                            <div class="ui fluid selection dropdown iteration-dropdown">
                                                <input type="hidden" name="iterationId"
                                                       th:if="${workItem.getIteration() == null}">
                                                <input type="hidden" name="iterationId"
                                                       th:value="${workItem.getIteration().get_id()}"
                                                       th:unless="${workItem.getIteration() == null}">
                                                <div class="default text">Iteration</div>
                                                <i class="dropdown icon"></i>
                                                <div class="menu">
                                                    <div class="item" data-value="1">Iteration 1</div>
                                                    <div class="item" data-value="2">Iteration 2</div>
                                                    <div class="item" data-value="3">Iteration 3</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="four wide required field">
                                            <label>Priority</label>
                                            <div class="ui fluid selection dropdown priority-dropdown">
                                                <input type="hidden" name="priority"
                                                       th:value="${workItem.getPriority()}">
                                                <div class="text">Priority</div>
                                                <i class="dropdown icon"></i>
                                                <div class="menu">
                                                    <div class="item" data-value="1"><span
                                                            class="ui green text">Low - 1</span></div>
                                                    <div class="item" data-value="2"><span
                                                            class="ui yellow text">Medium - 2</span>
                                                    </div>
                                                    <div class="item" data-value="3"><span
                                                            class="ui red text">High - 3</span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="four wide required field status-dropdown">
                                            <label>Status</label>
                                            <div class="ui fluid selection dropdown">
                                                <input type="hidden" name="status" th:value="${workItem.getStatus()}">
                                                <div class="text">Status</div>
                                                <i class="dropdown icon"></i>
                                                <div class="menu">
                                                    <div class="item" data-value="New">
                                                        <i class="grey circle icon"></i>New
                                                    </div>
                                                    <div class="item" data-value="Approved">
                                                        <i class="orange circle icon"></i>Approved
                                                    </div>
                                                    <div class="item" data-value="Committed">
                                                        <i class="blue circle icon"></i>Committed
                                                    </div>
                                                    <div class="item" data-value="Done">
                                                        <i class="green circle icon"></i>Done
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fields">
                                        <div class="four wide required field">
                                            <label>Assignee</label>
                                            <div class="ui fluid selection dropdown assignee-dropdown">
                                                <input type="hidden" name="assigneeId"
                                                       th:value="${workItem.getAssignedMember().get_id()}"
                                                       th:unless="${workItem.getAssignedMember() == null}">
                                                <input type="hidden" name="assigneeId"
                                                       th:if="${workItem.getAssignedMember() == null}">
                                                <div class="default text">Assignee</div>
                                                <i class="dropdown icon"></i>
                                                <div class="menu"></div>
                                            </div>
                                        </div>
                                        <div class="four wide field">
                                            <label>Created date</label>
                                            <div class="ui fluid input">
                                                <input disabled
                                                       th:value="${#temporals.format(workItem.getCreatedDate(), 'dd/MM/yyyy')}">
                                            </div>
                                        </div>
                                        <div class="four wide field">
                                            <label>Created by</label>
                                            <div class="ui fluid selection dropdown disabled">
                                                <input type="hidden" name="creatorId">
                                                <div class="text">
                                                    <img class="ui avatar image"
                                                         th:src="@{'/api/users/avatar/' + ${workItem.getCreator().getUserId()}}">
                                                    <span th:text="${workItem.getCreator().getFullName()}"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui divider"></div>
                                <div class="ui stackable grid">
                                    <div class="row">
                                        <div class="column">
                                            <div class="ui form">
                                                <div class="fields">
                                                    <div class="eight wide field">
                                                        <label>Description</label>
                                                        <textarea name="description" placeholder="Enter description..."
                                                                  th:text="${workItem.getDescription()}"></textarea>
                                                    </div>
                                                    <div class="eight wide field">
                                                        <label>Submitted files <i class="paperclip icon"></i></label>
                                                        <table class="ui celled small black table file-table"
                                                               style="margin-top: 0">
                                                            <thead>
                                                            <tr>
                                                                <th class="eight wide">File name</th>
                                                                <th class="four wide">Timestamp</th>
                                                                <th class="four wide center aligned">Actions</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr th:each="file: ${workItem.getWorkItemFiles()}"
                                                                th:id="${'file_' + file.get_id()}">
                                                                <td th:text="${file.getFileName()}"></td>
                                                                <td th:text="${#temporals.format(file.getTimeStamp(), 'dd/MM/yyyy HH:mm:ss')}"></td>
                                                                <td class="center aligned">
                                                                    <a class="ui basic tiny blue icon button"
                                                                       data-tooltip="Download file"
                                                                       th:href="${'/api/files/work-item/' + file.get_id()}">
                                                                        <i class="download icon"></i>
                                                                    </a>
                                                                    <div class="ui basic tiny grey icon button delete-file"
                                                                         data-tooltip="Delete file"
                                                                         th:id="${file.get_id()}">
                                                                        <i class="trash icon"></i>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="3">
                                                                    <input type="file" id="upload-file" hidden>
                                                                    <div class="ui tiny green icon labeled button"
                                                                         onclick="$('#upload-file').click()">
                                                                        <i class="upload icon"></i>Add
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui divider"></div>
                                <div class="ui stackable grid">
                                    <div class="row">
                                        <div class="four wide column">
                                            <div class="ui vertical inverted grey menu" style="width: 100%">
                                                <div class="header item">Change history<i class="clock icon"></i></div>
                                                <a class="item log-item" th:each="log: ${logs}" th:id="${log.get_id()}">
                                                    <span th:text="${log.getType()}"></span>
                                                    <div class="ui teal label"
                                                         th:text="${#temporals.format(log.getTimeStamp(), 'dd/MM/yyyy HH:mm')}">
                                                        7/4/2020 12:00
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="twelve wide column">
                                            <div class="ui inverted grey segment">
                                                <div class="ui tiny header">Change description</div>
                                                <div class="ui divider"></div>
                                                <table class="ui inverted grey table log-table" th:each="log: ${logs}"
                                                       th:id="${'log_' + log.get_id()}" hidden>
                                                    <thead>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>Member name</td>
                                                        <td th:text="${log.getStudent().getFullName()}"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Description</td>
                                                        <td th:text="${log.getDescription()}"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui small modal delete-file">
        <div class="ui dimmer">
            <div class="ui loader"></div>
        </div>
        <div class="ui large header">
            <i class="red trash icon"></i>
            Warning
        </div>
        <div class="content">
            <div class="ui form delete-file">
                <input type="hidden" name="id">
                <div class="field">
                    <label>Do you really want to delete this file?</label>
                </div>
                <div class="ui error message"></div>
                <button class="ui red labeled icon submit button">
                    <i class="check icon"></i>
                    Yes
                </button>
                <div class="ui grey labeled right floated icon button" onclick="hideModal('.modal.delete-file')">
                    <i class="close icon"></i>
                    No
                </div>
            </div>
        </div>
    </div>
    <div class="ui modal" id="templates">
        <table>
            <tbody>
            <tr class="file-cell">
                <td class="name"></td>
                <td class="timestamp"></td>
                <td class="center aligned">
                    <div class="ui basic tiny blue icon button download-file"
                         data-tooltip="Download file">
                        <i class="download icon"></i>
                    </div>
                    <div class="ui basic tiny grey icon button delete-file"
                         data-tooltip="Delete file">
                        <i class="trash icon"></i>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script type="text/javascript" th:src="@{/js/student/common/api.js}"></script>
    <script type="text/javascript" th:src="@{/js/student/common/work-item.js}"></script>
</div>
<div th:fragment="member-content" class="ui stackable grid">
    <div class="row">
        <div class="column">
            <div class="header">
                <div class="ui large black label">
                    <i class="tasks icon"></i>Work item #1
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="ui segment">
                <div class="ui stackable grid">
                    <div class="row">
                        <div class="column">
                            <div class="ui header">
                                <i class="blue tasks icon"></i>Work Item #1
                            </div>
                            <div class="ui divider"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>