<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="body-content" class="ui stackable grid">
    <link rel="stylesheet" th:href="@{/css/admin/user.css}">
    <div class="row">
        <div class="column"><h3 class="header"><i class="users icon nav-icon"></i><span>Quản lý người dùng</span></h3>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="ui top attached tabular menu">
                <a class="active teacher-admin item">
                    Giảng viên/Admin
                </a>
                <a class="student item">
                    Sinh viên
                </a>
            </div>
            <div class="ui active teacher-admin tab segment stackable grid">
                <div class="row">
                    <div class="column">
                        <button type="button" class="ui labeled icon green button"
                                onclick="showModal('.modal.create-user')">
                            Thêm mới<i
                                class="plus icon"></i></button>
                    </div>
                </div>
                <div class="row my-table-control">
                    <div class="four wide column">
                        Hiển thị
                        &nbsp
                        <div class="ui compact selection dropdown page-length">
                            <input type="hidden">
                            <i class="dropdown icon"></i>
                            <div class="text">10</div>
                            <div class="menu">
                                <div class="item" data-value="10">10</div>
                                <div class="item" data-value="25">25</div>
                                <div class="item" data-value="50">50</div>
                                <div class="item" data-value="100">100</div>
                            </div>
                        </div>
                        &nbsp
                        mục
                    </div>
                    <div class="four wide column">
                        Vai trò
                        &nbsp
                        <div class="ui compact selection dropdown" id="roleSelect" style="width: 150px;">
                            <input type="hidden">
                            <i class="dropdown icon"></i>
                            <div class="text">Admin</div>
                            <div class="menu">
                                <div class="item" data-value="admin" onclick="filterRole('admin')">Admin</div>
                                <div class="item" data-value="teacher" onclick="filterRole('teacher')">Giảng viên</div>
                            </div>
                        </div>
                    </div>
                    <div class="right aligned eight wide column">
                        Tìm kiếm:&nbsp
                        <div class="ui icon input table-search">
                            <input type="text" placeholder="Search...">
                            <i class="search icon"></i>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <table class="ui celled black sortable table" style="width: 100%">
                            <thead>
                            <tr>
                                <th class="one wide">#</th>
                                <th class="three wide">Thao tác</th>
                                <th class="four wide">Họ tên</th>
                                <th class="three wide">Tên đăng nhập</th>
                                <th class="four wide">Email</th>
                                <th class="one wide">Đang hoạt động</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="ui student tab segment stackable grid">
                <div class="row">
                    <div class="column">
                        <button type="button" class="ui labeled icon green button"
                                onclick="showModal('.modal.create-student')">
                            Thêm mới<i
                                class="plus icon"></i></button>
                        <button type="button" class="ui labeled icon green button"
                                onclick="showModal('.modal.import-student')">
                            Nhập từ Excel<i
                                class="file excel icon"></i></button>
                    </div>
                </div>
                <div class="row my-table-control">
                    <div class="eight wide column">
                        Hiển thị
                        &nbsp
                        <div class="ui compact selection dropdown page-length">
                            <input type="hidden">
                            <i class="dropdown icon"></i>
                            <div class="text">10</div>
                            <div class="menu">
                                <div class="item" data-value="10">10</div>
                                <div class="item" data-value="25">25</div>
                                <div class="item" data-value="50">50</div>
                                <div class="item" data-value="100">100</div>
                            </div>
                        </div>
                        &nbsp
                        mục
                    </div>
                    <div class="right aligned eight wide column">
                        Tìm kiếm:&nbsp
                        <div class="ui icon input table-search">
                            <input type="text" placeholder="Search...">
                            <i class="search icon"></i>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <table class="ui celled black sortable table" style="width: 100%">
                            <thead>
                            <tr>
                                <th class="one wide">#</th>
                                <th class="three wide">Thao tác</th>
                                <th class="three wide">MSSV</th>
                                <th class="four wide">Họ tên</th>
                                <th class="four wide">Lớp</th>
                                <th class="one wide">Đang hoạt động</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui tiny modal create-user">
        <div class="ui dimmer">
            <div class="ui loader"></div>
        </div>
        <div class="ui large header">
            <i class="green user icon"></i>
            Thêm mới
        </div>
        <div class="content">
            <div class="ui form create-user">
                <div class="field">
                    <div class="fields">
                        <div class="nine wide required field">
                            <label>Họ tên</label>
                            <input type="text" name="fullName" placeholder="Full name">
                        </div>
                        <div class="seven wide required field">
                            <label>Tên đăng nhập</label>
                            <input type="text" name="username" placeholder="Username">
                        </div>
                    </div>
                </div>
                <div class="required field">
                    <label>Email</label>
                    <div class="inline field">
                        <input type="email" name="email" placeholder="Email">
                        <div class="ui left pointing small label">
                            Email sẽ nhận được thông báo kích hoạt tài khoản
                        </div>
                    </div>
                </div>
                <div class="required field">
                    <label class="ui dividing">Quyền</label>
                    <div class="two fields">
                        <div class="six wide field">
                            <div class="ui toggle checkbox">
                                <input type="checkbox" id="checkboxAdmin" name="isAdmin" tabindex="0"
                                       class="hidden" data-validate="role-checkbox">
                                <label for="checkboxAdmin">Admin</label>
                            </div>
                        </div>
                        <div class="six wide field">
                            <div class="ui toggle checkbox">
                                <input type="checkbox" id="checkboxTeacher" name="isTeacher" tabindex="0"
                                       class="hidden" data-validate="role-checkbox">
                                <label for="checkboxTeacher">Giảng viên</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui error message"></div>
                <div class="ui grey labeled icon button" onclick="hideModal('.modal.create-user')">
                    <i class="close icon"></i>
                    Hủy
                </div>
                <button class="ui right floated green labeled icon submit button">
                    <i class="plus icon"></i>
                    Thêm
                </button>
            </div>
        </div>
    </div>
    <div class="ui tiny modal edit-user">
        <div class="ui dimmer">
            <div class="ui loader"></div>
        </div>
        <div class="ui large header">
            <i class="blue pencil icon"></i>
            Chỉnh sửa
        </div>
        <div class="content">
            <div class="ui form edit-user">
                <input type="hidden" name="id">
                <div class="field">
                    <div class="fields">
                        <div class="nine wide required field">
                            <label>Họ tên</label>
                            <input type="text" name="fullName" placeholder="Full name">
                        </div>
                        <div class="seven wide required field">
                            <label>Tên đăng nhập</label>
                            <input type="text" name="username" placeholder="Username">
                        </div>
                    </div>
                </div>
                <div class="required field">
                    <label>Email</label>
                    <input type="email" name="email" placeholder="Email">
                </div>
                <div class="required field">
                    <label class="ui dividing">Quyền</label>
                    <div class="two fields">
                        <div class="six wide field">
                            <div class="ui toggle checkbox">
                                <input type="checkbox" id="checkboxEditAdmin" name="isAdmin" tabindex="0"
                                       class="hidden" data-validate="role-checkbox">
                                <label for="checkboxEditAdmin">Admin</label>
                            </div>
                        </div>
                        <div class="six wide field">
                            <div class="ui toggle checkbox">
                                <input type="checkbox" id="checkboxEditTeacher" name="isTeacher" tabindex="0"
                                       class="hidden" data-validate="role-checkbox">
                                <label for="checkboxEditTeacher">Giảng viên</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui error message"></div>
                <div class="ui grey labeled icon button" onclick="hideModal('.modal.edit-user')">
                    <i class="close icon"></i>
                    Hủy
                </div>
                <button class="ui right floated blue labeled icon submit button">
                    <i class="save icon"></i>
                    Lưu
                </button>
            </div>
        </div>
    </div>
    <div class="ui tiny modal create-student">
        <div class="ui dimmer">
            <div class="ui loader"></div>
        </div>
        <div class="ui large header">
            <i class="green student icon"></i>
            Thêm mới
        </div>
        <div class="content">
            <div class="ui form create-student">
                <div class="field">
                    <div class="fields">
                        <div class="nine wide required field">
                            <label>Họ tên</label>
                            <input type="text" name="fullName" placeholder="Full name">
                        </div>
                        <div class="seven wide required field">
                            <label>MSSV</label>
                            <input type="text" name="studentId" placeholder="Student ID">
                        </div>
                    </div>
                </div>
                <div class="ten wide required field">
                    <label>Lớp</label>
                    <div class="ui search selection dropdown assigned-class">
                        <input type="hidden" name="classId">
                        <i class="dropdown icon"></i>
                        <div class="default text">Select class</div>
                    </div>
                </div>
                <div class="ui error message"></div>
                <div class="ui grey labeled icon button" onclick="hideModal('.modal.create-student')">
                    <i class="close icon"></i>
                    Hủy
                </div>
                <button class="ui right floated green labeled icon submit button">
                    <i class="plus icon"></i>
                    Thêm
                </button>
            </div>
        </div>
    </div>
    <div class="ui tiny modal edit-student">
        <div class="ui dimmer">
            <div class="ui loader"></div>
        </div>
        <div class="ui large header">
            <i class="green student icon"></i>
            Chỉnh sửa
        </div>
        <div class="content">
            <div class="ui form edit-student">
                <input type="hidden" name="id">
                <div class="field">
                    <div class="fields">
                        <div class="nine wide required field">
                            <label>Họ tên</label>
                            <input type="text" name="fullName" placeholder="Full name">
                        </div>
                        <div class="seven wide required field">
                            <label>MSSV</label>
                            <input type="text" name="studentId" placeholder="Student ID">
                        </div>
                    </div>
                </div>
                <div class="ten wide required field">
                    <label>Lớp</label>
                    <div class="ui search selection dropdown assigned-class">
                        <input type="hidden" name="classId">
                        <i class="dropdown icon"></i>
                        <div class="default text">Select class</div>
                    </div>
                </div>
                <div class="ui error message"></div>
                <div class="ui grey labeled icon button" onclick="hideModal('.modal.edit-student')">
                    <i class="close icon"></i>
                    Hủy
                </div>
                <button class="ui right floated blue labeled icon submit button">
                    <i class="plus icon"></i>
                    Lưu
                </button>
            </div>
        </div>
    </div>
    <div class="ui tiny modal delete-user">
        <div class="ui dimmer">
            <div class="ui loader"></div>
        </div>
        <div class="ui large header">
            <i class="red trash icon"></i>
            Cảnh báo
        </div>
        <div class="content">
            <div class="ui form delete-user">
                <input type="hidden" name="id">
                <div class="field">
                    <label>Bạn có chắc chắn muốn xóa người dùng này không?</label>
                </div>
                <div class="ui error message"></div>
                <button class="ui red labeled icon submit button">
                    <i class="check icon"></i>
                    Có
                </button>
                <div class="ui grey labeled right floated icon button" onclick="hideModal('.modal.delete-user')">
                    <i class="close icon"></i>
                    Không
                </div>
            </div>
        </div>
    </div>
    <div class="ui large modal import-student">
        <div class="ui dimmer">
            <div class="ui loader"></div>
        </div>
        <div class="ui large header">
            <i class="green file excel icon"></i>
            Nhập từ Excel
        </div>
        <div class="content">
            <div class="ui form import-student">
                <div class="field">
                    <input type="file" name="uploadExcel" hidden>
                    <div class="ui green labeled icon mini button" onclick="openImportStudentDialog()">
                        <i class="upload icon"></i>
                        Chọn tệp Excel
                    </div>
                    <div class="ui orange labeled icon mini button" onclick="createStudentImportTemplate()">
                        <i class="download icon"></i>
                        Tải tệp mẫu
                    </div>
                </div>
                <div class="fields">
                    <div class="eight wide required field">
                        <label>Nhập sinh viên cho lớp:</label>
                        <div class="ui search selection dropdown assigned-class">
                            <input type="hidden" name="classId">
                            <i class="dropdown icon"></i>
                            <div class="default text">Select class</div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <table class="ui small celled table import-student">
                        <thead>
                        <tr>
                            <th class="one wide">#</th>
                            <th class="two wide">MSSV</th>
                            <th>Họ tên</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="ui error message"></div>
                <div class="ui grey labeled icon button" onclick="hideModal('.modal.import-student')">
                    <i class="close icon"></i>
                    Hủy
                </div>
                <div class="ui right floated green labeled icon submit button">
                    <i class="plus icon"></i>
                    Thêm
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/admin/user/api.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/user/user.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/user/student.js}"></script>
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.5/dist/xlsx.full.min.js"></script>
    <script type="text/javascript" th:src="@{/js/admin/user/import.js}"></script>
</div>
</body>
</html>