.student-management, .iteration-management, .topic-management {
    padding: 0 16px;
}

.import-student-popup {
    width: 75%;
    height: 450px;
}

.add-topic-popup {
    width: 550px;
    height: 550px;
}

.add-student-popup {
    width: 550px;
    height: 300px;
}

.import-student-list {
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    overflow-y: scroll;
}

#saveImportStudents {
    float: right;
}

#importXLSX {
    margin-right: 8px;
}

#submitTopic {
    float: right;
}

.status {
    font-weight: bold;
}

.status-in-progress {
    color: #F9A825;
}

.status-finish {
    color: #00C853;
}

.status-waiting {
    color: #F44336;
}

.finished-iteration td:not(.status) {
    color: grey;
}

#classSetting {
    font-size: 32px;
    color: grey;
}

#classSetting:hover {
    color: #03A9F4;
    cursor: pointer;
}

.class-setting-popup {
    width: 400px;
    height: 250px;
}

.class-setting table {
    width: 100%;
    font-weight: bold;
    font-size: 1.5em;
    border-bottom: 1px solid grey;
}