.criteria.header:hover {
    color: #008080;
    cursor: pointer;
    text-decoration: none;
}

input.error {
    background-color: #fff6f6 !important;
    border-color: #e0b4b4 !important;
    color: #9f3a38 !important;
    /*-webkit-box-shadow: none;*/
    /*box-shadow: none;*/
}