<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="instance" class="my-header ui menu inverted attached">
    <div class="header item" onclick="toggleSidebar()" id="toggleSidebar">
        <i class="icon bars"></i>
    </div>
    <div class="header item logo-item borderless">
        <a class="ui mini image my-logo" href="/home">
            <img th:src="@{/images/logo.png}" alt="logo-uet">
        </a>
        <a class="middle aligned content" href="/home">
            OOAD Loophole
        </a>
    </div>
    <div class="menu right">
        <div class="ui inverted dropdown item notification">
            <div class="borderless item" style="padding: 0 !important;">
                <i class="large bell icon" style="margin: 0 !important;"></i>
                <div class="floating ui red circular label unseen" th:if="${unreadCount > 0}">
                    <span class="unread-count" th:text="${unreadCount}"></span>
                </div>
            </div>
            <div class="ui left menu">
                <a class="item empty-notification" th:if="${notifications == null or notifications.isEmpty()}">
                    <div class="header">
                        <div class="subject">No notifications</div>
                    </div>
                </a>
                <a class="item notification" th:each="notification: ${notifications}"
                   th:href="${notification.getUrl()}">
                    <div class="header">
                        <span class="subject" th:text="${notification.getSubject()}"></span>
                        <i class="clock icon"></i><span class="timestamp"
                                                        th:text="${#temporals.format(notification.getTimeStamp(), 'dd/MM HH:mm')}"></span>
                    </div>
                    <div class="content">
                        <div class="description" th:text="${notification.getContent()}"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="ui inverted dropdown item content-flex flex-row" style="min-width: 200px">
            <div class="ui avatar image my-logo">
                <img class="my-avatar" th:src="${avatarLink}">
            </div>
            <div class="content full-name" th:text="${user.getFullName()}"></div>
            <div class="flex"></div>
            <i class="dropdown icon">
            </i>
            <div class="ui menu">
                <a class="item" href="#" onclick="showModal('.profile')">
                    <i class="icon user"></i>
                    <div class="description">Thông tin cá nhân</div>
                </a>
                <a class="item" href="/logout">
                    <i class="icon sign out alternate"></i>
                    <div class="description">Đăng xuất</div>
                </a>
            </div>
        </div>
    </div>
    <script>
        $('.notification.dropdown').on('click', function () {
            const userId = Cookies.get("userId");
            if ($('.unread-count').text() !== '') {
                $.ajax({
                    url: `/api/notifications/${userId}/seen/all`,
                    method: 'put',
                    contentType: false,
                    processData: false,
                    success: function () {
                        $('.unseen.label').remove();
                    }
                });
            }
        })
    </script>
</div>
</body>
</html>