<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="instance" class="my-header ui menu inverted attached">
    <div class="header item" onclick="toggleSidebar()" id="toggleSidebar">
        <i class="icon bars"></i>
    </div>
    <div class="header item logo-item borderless">
        <a class="ui mini image my-logo" href="/home">
            <img th:src="@{/images/logo.png}" alt="logo-uet">
        </a>
        <a class="middle aligned content" href="/home">
            OOAD Loophole
        </a>
    </div>
    <div class="menu right">
        <div class="ui inverted dropdown item notification">
            <div class="borderless item" style="padding: 0 !important;">
                <i class="large bell icon" style="margin: 0 !important;"></i>
                <div class="floating ui red circular label unseen">
                    <span>1</span>
                </div>
            </div>
            <div class="ui left menu">
                <a class="item notification">
                    <div class="header">
                        <span class="subject">New Member</span>
                        <span class="timestamp"><i class="clock icon"></i>12:00</span>
                    </div>
                    <div class="content">
                        <div class="description"><span class="ui blue text">Nguyen Ngoc Lam</span> has invited you to join <span class="ui red text">Weebs</span>!</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="ui inverted dropdown item content-flex flex-row" style="min-width: 200px">
            <div class="ui avatar image my-logo">
                <img class="my-avatar" th:src="${avatarLink}">
            </div>
            <div class="content" th:text="${user.getFullName()}"></div>
            <div class="flex"></div>
            <i class="dropdown icon">
            </i>
            <div class="ui menu">
                <a class="item" href="#" onclick="showModal('.profile')">
                    <i class="icon user"></i>
                    <div class="description">Thông tin cá nhân</div>
                </a>
                <a class="item" href="/logout">
                    <i class="icon sign out alternate"></i>
                    <div class="description">Đăng xuất</div>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>