<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${className}"></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/master.css}">
    <link rel="stylesheet" th:href="@{/css/popup.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <script type="text/javascript" th:src="@{/js/libraries/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/master.js}"></script>
    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
</head>
<body>
<div class="my-container">
    <div class="my-main">
        <div class="menu-bar">
            <table style="height: 100%; width: 100%">
                <tbody>
                <tr>
                    <td style="text-align: end;">
                        <span th:text="${userFullName}" th:remove="tag"></span>
                        <img src="https://i.pinimg.com/originals/d1/1a/45/d11a452f5ce6ab534e083cdc11e8035e.png"
                             class="user-logo">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="my-header">
            <h1 th:text="${className}" style="margin: 0 0 16px 0"></h1>
        </div>
        <div class="class-setting" style="padding: 0 16px">
            <table>
                <tbody>
                <tr>
                    <td style="color: #F44336">
                        <span th:text="${dayOfWeek}"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span th:text="${startDate}"></span>
                        <span>-</span>
                        <span th:text="${endDate}"></span>
                    </td>
                    <td style="text-align: right">
                        <i class="fa fa-cog" id="classSetting"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div style="overflow-y: scroll; flex: 1 1 auto">
            <div class="student-management">
                <h2>Students</h2>
                <table style="margin-bottom: 16px">
                    <tbody>
                    <tr>
                        <td>
                            <div style="padding-right: 8px">
                                <button class="my-btn my-btn-green" id="importStudents"><i
                                        class="fa fa-users fa-fw"></i>&nbspImport
                                    Students
                                </button>
                            </div>
                        </td>
                        <td>
                            <div style="padding-right: 8px">
                                <button class="my-btn my-btn-blue" id="addStudent"><i class="fa fa-user fa-fw"></i>&nbspAdd
                                    Student
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="my-table student-table">
                    <thead>
                    <tr>
                        <td class="id-cell"></td>
                        <td class="num-cell">#</td>
                        <td>Full Name</td>
                        <td>Student ID</td>
                        <td>Email</td>
                        <td class="id-cell group-id"></td>
                        <td>Group</td>
                        <td>Actions</td>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="topic-management">
                <h2>Topics</h2>
                <div style="margin-bottom: 16px">
                    <button class="my-btn my-btn-blue" id="addTopic"><i class="fa fa-tasks fa-fw"></i>&nbspAdd topic
                    </button>
                </div>
                <table class="my-table topic-table">
                    <thead>
                    <tr>
                        <td class="num-cell">#</td>
                        <td>Topic</td>
                        <td>Description</td>
                        <td>Attachments</td>
                        <td>Assigned to Group</td>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="iteration-management">
                <h2>Iterations</h2>
                <table class="iteration-table my-table">
                    <thead>
                    <tr>
                        <td class="num-cell">#</td>
                        <td>Start Time</td>
                        <td>End Time</td>
                        <td>Message</td>
                        <td>Status</td>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="my-sidebar">
        <div class="app-title">OOAD<br>Loophole</div>
        <div class="navigation-menu">
            <a class="navigation-item" href="/teacher/class"><i class="fa fa-home fa-fw"></i>&nbspCourses</a>
            <a class="navigation-item" href="#"><i class="fa fa-cog fa-fw"></i>&nbspSettings</a>
        </div>
    </div>
</div>
<div class="popup import-student-popup">
    <div class="popup-header">
        <span class="popup-close">
            <button><i class="fa fa-close"></i>&nbsp</button>
        </span>
        <span class="popup-title">Import students</span>
    </div>
    <div class="import-xlsx">
        <table style="direction: rtl; width: 100%; margin-bottom: 16px">
            <tbody>
            <tr>
                <td>
                    <button class="my-btn my-btn-red" id="downloadTemplate">Get template</button>
                    <button class="my-btn my-btn-blue" id="importXLSX">Upload XLSX</button>
                    <input type="file" style="display: none" id="xlsxUpload">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="import-student-list popup-body">
        <table class="my-table import-student-table">
            <thead>
            <tr>
                <td>#</td>
                <td>Full Name</td>
                <td>Student ID</td>
                <td>Email</td>
                <td>Group</td>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div style="margin-top: 16px">
        <button class="my-btn my-btn-green" id="saveImportStudents">
            Save
        </button>
    </div>
</div>
<div class="popup add-topic-popup">
    <div class="popup-header">
        <span class="popup-close">
            <button><i class="fa fa-close"></i>&nbsp</button>
        </span>
        <span class="popup-title">New topic</span>
    </div>
    <div class="popup-body">
        <table class="form-table">
            <tbody>
            <tr>
                <td class="my-label"><label for="topicName">Topic Name</label>
                </td>
                <td>
                    <input class="my-input" type="text" id="topicName">
                </td>
            </tr>
            <tr>
                <td class="my-label"><label for="topicDescription">Description</label></td>
                <td>
                    <textarea class="my-input" type="text" id="topicDescription"
                              style="height: 80px; padding: 16px"></textarea>
                </td>
            </tr>
            <tr>
                <td class="my-label"><label for="groupId">Assign to Group</label>
                </td>
                <td>
                    <select class="my-input" id="groupId">
                        <option value="0">Not set</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right">
                    <button class="my-btn my-btn-blue" id="addAttachments">Add attachments</button>
                    <input type="file" style="display: none" id="inputAddAttachments" multiple>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div style="overflow: auto; height: 200px">
                        <table class="my-table attachment-table">
                            <thead>
                            <tr>
                                <td class="file-type-cell">File type</td>
                                <td>File name</td>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="text-align: right; margin-top: 16px">
        <button type="submit" id="submitTopic" class="my-btn my-btn-green">Add</button>
    </div>
</div>
<div class="popup class-setting-popup">
    <div class="popup-header">
        <span class="popup-close">
            <button><i class="fa fa-close"></i>&nbsp</button>
        </span>
        <span class="popup-title">Class setting</span>
    </div>
    <div class="popup-body">
        <table style="width: 100%; height: 100%">
            <tbody>
            <tr>
                <td>
                    <label for="inputClassName">Name:</label>
                </td>
                <td>
                    <input th:value="${className}" id="inputClassName" class="my-input my-disabled-input" disabled>
                </td>
                <td style="text-align: right">
                    <button class="my-btn my-btn-blue">Change</button>
                </td>
            </tr>
            <tr>
                <td style="text-align: center" colspan="3">
                    <button class="my-btn my-btn-red" id="deleteClass"><i class="fa fa-trash fa-fw"></i>&nbspDelete
                        class
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="loader-container">
    <div class="loader"></div>
</div>
<!--<div class="class-id" style="display: none" th:text="${classId}"></div>-->
</body>
<script type="text/javascript" src="js/teacher/class_setting.js"></script>
<link rel="stylesheet" href="css/teacher/class_setting.css">
</html>