<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${className}"></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/master.css}">
    <link rel="stylesheet" th:href="@{/css/popup.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <script type="text/javascript" th:src="@{/js/libraries/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/master.js}"></script>
    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
</head>
<body>
<div class="my-container">
    <div class="my-main">
        <div class="menu-bar">
            <table style="height: 100%; width: 100%">
                <tbody>
                <tr>
                    <td style="text-align: end;">
                        <span th:text="${userFullName}" th:remove="tag"></span>
                        <img src="https://i.pinimg.com/originals/d1/1a/45/d11a452f5ce6ab534e083cdc11e8035e.png"
                             class="user-logo">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="my-header">
            <h1 th:text="${className}" style="margin: 0 0 16px 0"></h1>
        </div>
        <div class="class-setting" style="padding: 0 16px">
            <table>
                <tbody>
                <tr>
                    <td style="color: #F44336">
                        <span th:text="${dayOfWeek}"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span th:text="${startDate}"></span>
                        <span>-</span>
                        <span th:text="${endDate}"></span>
                    </td>
                    <td style="text-align: right">
                        <i class="fa fa-cog" id="classSetting"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div style="overflow-y: scroll; flex: 1 1 auto">
            <div class="student-management">
                <h2>Students</h2>
                <table style="margin-bottom: 16px">
                    <tbody>
                    <tr>
                        <td>
                            <div style="padding-right: 8px">
                                <button class="my-btn my-btn-green" id="importStudents"><i class="fa fa-users fa-fw"></i>&nbspImport
                                    Students
                                </button>
                            </div>
                        </td>
                        <td>
                            <div style="padding-right: 8px">
                                <button class="my-btn my-btn-blue" id="addStudent"><i class="fa fa-user fa-fw"></i>&nbspAdd
                                    Student
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="my-table student-table">
                    <thead>
                    <tr>
                        <td class="id-cell"></td>
                        <td class="num-cell">#</td>
                        <td>Full Name</td>
                        <td>Student ID</td>
                        <td>Email</td>
                        <td class="id-cell group-id"></td>
                        <td>Group</td>
                        <td>Actions</td>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="topic-management">
                <h2>Topics</h2>
                <div style="margin-bottom: 16px">
                    <button class="my-btn my-btn-blue" id="addTopic"><i class="fa fa-tasks fa-fw"></i>&nbspAdd topic
                    </button>
                </div>
                <table class="my-table topic-table">
                    <thead>
                    <tr>
                        <td class="num-cell">#</td>
                        <td>Topic</td>
                        <td>Description</td>
                        <td>Attachments</td>
                        <td>Assigned to Group</td>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="iteration-management">
                <h2>Iterations</h2>
                <table class="iteration-table my-table">
                    <thead>
                    <tr>
                        <td class="num-cell">#</td>
                        <td>Start Time</td>
                        <td>End Time</td>
                        <td>Message</td>
                        <td>Status</td>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="my-sidebar">
        <div class="app-title">OOAD<br>Loophole</div>
        <div class="navigation-menu">
            <div class="navigation-item selected"><i class="fa fa-home fa-fw"></i>&nbspCourses</div>
            <div class="navigation-item"><i class="fa fa-cog fa-fw"></i>&nbspSettings</div>
        </div>
    </div>
</div>
<div class="popup import-student-popup">
    <div class="popup-header">
        <span class="popup-close">
            <button><i class="fa fa-close"></i>&nbsp</button>
        </span>
        <span class="popup-title">Import students</span>
    </div>
    <div class="import-xlsx">
        <table style="direction: rtl; width: 100%; margin-bottom: 16px">
            <tbody>
            <tr>
                <td>
                    <button class="my-btn my-btn-red" id="downloadTemplate">Get template</button>
                    <button class="my-btn my-btn-blue" id="importXLSX">Upload XLSX</button>
                    <input type="file" style="display: none" id="xlsxUpload">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="import-student-list popup-body">
        <table class="my-table import-student-table">
            <thead>
            <tr>
                <td>#</td>
                <td>Full Name</td>
                <td>Student ID</td>
                <td>Email</td>
                <td>Group</td>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div style="margin-top: 16px">
        <button class="my-btn my-btn-green" id="saveImportStudents">
            Save
        </button>
    </div>
</div>
<div class="popup add-topic-popup">
    <div class="popup-header">
        <span class="popup-close">
            <button><i class="fa fa-close"></i>&nbsp</button>
        </span>
        <span class="popup-title">New topic</span>
    </div>
    <div class="popup-body">
        <table class="form-table">
            <tbody>
            <tr>
                <td class="my-label"><label for="topicName">Topic Name</label>
                </td>
                <td>
                    <input class="my-input" type="text" id="topicName">
                </td>
            </tr>
            <tr>
                <td class="my-label"><label for="topicDescription">Description</label></td>
                <td>
                    <textarea class="my-input" type="text" id="topicDescription"
                              style="height: 80px; padding: 16px"></textarea>
                </td>
            </tr>
            <tr>
                <td class="my-label"><label for="groupId">Assign to Group</label>
                </td>
                <td>
                    <select class="my-input" id="groupId">
                        <option value="0">Not set</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right">
                    <button class="my-btn my-btn-blue" id="addAttachments">Add attachments</button>
                    <input type="file" style="display: none" id="inputAddAttachments" multiple>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div style="overflow: auto; height: 200px">
                        <table class="my-table attachment-table">
                            <thead>
                            <tr>
                                <td class="file-type-cell">File type</td>
                                <td>File name</td>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="text-align: right; margin-top: 16px">
        <button type="submit" id="submitTopic" class="my-btn my-btn-green">Add</button>
    </div>
</div>
<div class="popup class-setting-popup">
    <div class="popup-header">
        <span class="popup-close">
            <button><i class="fa fa-close"></i>&nbsp</button>
        </span>
        <span class="popup-title">Class setting</span>
    </div>
    <div class="popup-body">
        <table style="width: 100%; height: 100%">
            <tbody>
            <tr>
                <td>
                    <label for="inputClassName">Name:</label>
                </td>
                <td>
                    <input th:value="${className}" id="inputClassName" class="my-input my-disabled-input" disabled>
                </td>
                <td style="text-align: right">
                    <button class="my-btn my-btn-blue">Change</button>
                </td>
            </tr>
            <tr>
                <td style="text-align: center" colspan="3">
                    <button class="my-btn my-btn-red" id="deleteClass"><i class="fa fa-trash fa-fw"></i>&nbspDelete class</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="loader-container">
    <div class="loader"></div>
</div>
<!--<div class="class-id" style="display: none" th:text="${classId}"></div>-->
</body>
<script>
    var studentTable = $('.student-table tbody');
    var importStudentTable = $('.import-student-table tbody');
    var importStudents;
    var iterationTable = $('.iteration-table tbody');
    var attachmentTable = $('.attachment-table tbody');
    var topicTable = $('.topic-table tbody');

    $('#classSetting').on('click', function () {
        showPopup('.class-setting-popup');
    });

    $('#deleteClass').on('click', function () {
        showSpinner();
        deleteClass();
    });

    $('.class-setting-popup .popup-close').on('click', function () {
        hidePopup('.class-setting-popup');
    });

    $('#importStudents').on('click', function () {
        clearImportTable();
        showPopup('.import-student-popup');
    });

    $('.import-student-popup .popup-close').on('click', function () {
        hidePopup('.import-student-popup');
    });

    $('#addTopic').on('click', function () {
        showSpinner();
        $.when($.ajax({
            url: '/class/unassigned-groups',
            method: 'get',
            success: function (jqXHR) {
                var groupSelect = $('select#groupId').empty().append($('<option value="0">Not set</option>'));
                jqXHR.forEach(function (g) {
                    var option = $('<option></option>').val(g._id).text(g.groupName);
                    groupSelect.append(option);
                });
            },
            error: function () {
                alert('Unable to get unassigned group!');
            }
        })).done(function () {
            hideSpinner();
            attachmentTable.empty();
            showPopup('.add-topic-popup');
        });
    });

    $('.add-topic-popup .popup-close').on('click', function () {
        hidePopup('.add-topic-popup');
    });

    $('#submitTopic').on('click', function () {
        var groupName = $('input#topicName').val();
        var description = $('textarea#topicDescription').val();
        var groupId = $('select#groupId option:selected').val();
        var files = $('input#inputAddAttachments').get(0).files;

        var formData = new FormData();
        formData.append('topicName', groupName);
        if (description.length > 0)
            formData.append('description', description);
        if (groupId != 0)
            formData.append('groupId', groupId);
        $.each(files, function (i, f) {
            formData.append('files', f);
        });

        showSpinner();
        $.when($.ajax({
            url: '/class/topics',
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            method: 'post',
            success: function (topic) {
                hidePopup('.add-topic-popup');
                insertTopic(topic);
            },
            error: function () {
                alert('Unable to add topic!');
            }
        })).done(function () {
            hideSpinner();
        });
    });

    $('#downloadTemplate').on('click', function () {
        createStudentListTemplate();
    });

    $('#importXLSX').on('click', function () {
        $('#xlsxUpload').click()
    });

    $('#saveImportStudents').on('click', function () {
        saveImportStudents()
    });

    $('#addAttachments').on('click', function () {
        $('#inputAddAttachments').click();
    });

    $('#inputAddAttachments').on('change', function () {
        var files = $(this).get(0).files;
        console.log(files);
        for (var i = 0; i < files.length; i++) {
            var value = files[i];
            var fileType = $('<td></td>').append(getFileTypeIcon(value.name));
            var name = $('<td></td>').text(value.name);
            attachmentTable.append($('<tr></tr>').append(fileType, name));
        }
    });

    document.getElementById('xlsxUpload').addEventListener('change', function (e) {
        parseStudents(e);
        this.value = '';
    }, false);

    function parseStudents(evt) {
        clearImportTable();
        var file = evt.target.files[0];
        var reader = new FileReader();
        reader.onload = function (e) {
            var data = e.target.result;
            try {
                var workbook = XLSX.read(data, {
                    type: 'binary'
                });
            } catch (ex) {
                alert('Unable to process file!');
                return;
            }
            var XL_row_object = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[workbook.SheetNames[0]]);
            XL_row_object.forEach(function (em) {
                // console.log(em);
                var values = Object.values(em);
                var row = $('<tr></tr>');
                var num = $('<td></td>').text(values[0]);
                var name = $('<td></td>').text(values[1]);
                var studentId = $('<td></td>').text(values[2]);
                var email = $('<td></td>').text(values[3]);
                var group = $('<td></td>').text(values[4]);
                row.append(num, name, studentId, email, group);
                importStudentTable.append(row);
                importStudents.push({
                    'fullName': values[1],
                    'studentId': values[2].toString(),
                    'email': values[3],
                    'groupName': values[4]
                });
            });
        };

        reader.onerror = function () {
            alert('Unable to process file!')
        };

        reader.readAsBinaryString(file);
    }

    function createStudentListTemplate() {
        var wb = XLSX.utils.book_new();
        var ws_name = "students";
        var ws_data = [
            ['#', 'Full name', 'Student ID', 'Email', 'Group'],
            ['1', 'Phong Ha Tuan', '16020263', '16020263@vnu.edu.vn', 'F & Đồng bọn'],
            ['2', 'Nguyen Ngoc Lam', '16022408', '16022408@vnu.edu.vn', 'F & Đồng bọn']
        ];
        var ws = XLSX.utils.aoa_to_sheet(ws_data);
        XLSX.utils.book_append_sheet(wb, ws, ws_name);
        XLSX.writeFile(wb, 'students.xlsx');
    }

    function getStudents() {
        $.ajax({
            url: '/class/students',
            method: 'GET',
            success: function (jqXHR) {
                jqXHR.forEach(function (s, index) {
                    insertStudent(s, index + 1);
                })
            },
            error: function () {
                alert('Cannot get student list!');
            }
        });
    }

    function insertStudent(s, index) {
        var id = $('<td class="id-cell"></td>').text(s.userId);
        var num = $('<td class="num-cell"></td>').text(index);
        var fullName = $('<td></td>').text(s.fullName);
        var studentId = $('<td></td>').text(s.studentId);
        var email = $('<td></td>').text(s.email);
        var groupId = $('<td class="id-cell group-id"></td>').text(s.groupId);
        var groupName = $('<td></td>').text(s.groupName);
        var actions = $('<td><i class="fa fa-pencil fa-fw td-action-icon"></i>&nbsp<i class="fa fa-trash fa-fw td-action-icon"></i>&nbsp</td>');
        var row = $('<tr></tr>').append(id, num, fullName, studentId, email, groupId, groupName, actions);

        studentTable.append(row);
    }

    function saveImportStudents() {
        showSpinner();
        $.ajax({
            url: '/class/students/import',
            method: 'POST',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                'students': importStudents
            }),
            success: function () {
                window.location.reload();
            },
            error: function () {
                alert('Cannot update student list!');
            }
        })
    }

    function clearImportTable() {
        importStudentTable.empty();
        importStudents = [];
    }

    function deleteClass() {
        $.ajax({
            url: '/class',
            method: 'delete',
            success: function () {
                window.location.href = '/teacher/class';
            },
            error: function () {
                alert('Unable to delete class!');
            }
        })
    }

    function getIterations() {
        $.ajax({
            url: '/class/iterations',
            method: 'get',
            success: function (jqXHR) {
                jqXHR.forEach(function (i, index) {
                    var row = $('<tr></tr>');
                    var num = $('<td class="num-cell"></td>').text(index + 1);
                    var startDateTime = $('<td></td>').text(i.startDateTime);
                    var endDateTime = $('<td></td>').text(i.endDateTime);
                    var message = $('<td></td>').text(i.message);

                    var status;
                    var today = new Date();
                    var sd = new Date(i.startDateTime);
                    var ed = new Date(i.endDateTime);
                    if (sd.getTime() > today.getTime()) {
                        status = $('<td class="status status-waiting"></td>').text("WAITING");
                    } else if (ed.getTime() <= today.getTime()) {
                        status = $('<td class="status status-finish">').text("FINISHED");
                        row.addClass('finished-iteration');
                    } else {
                        status = $('<td class="status status-in-progress">').text("IN PROGRESS");
                    }
                    iterationTable.append(row.append(num, startDateTime, endDateTime, message, status));
                });
            },
            error: function () {
                alert('Unable to get iterations!');
            }
        })
    }

    function getTopics() {
        $.ajax({
            url: '/class/topics',
            method: 'get',
            success: function (jqXHR) {
                jqXHR.forEach(function (t, index) {
                    insertTopic(t, index + 1);
                })
            },
            error: function () {
                alert('Unable to get topics');
            }
        });
    }

    function insertTopic(topic, index) {
        var num = $('<td class="num-cell"></td>').text(index);
        var description = $('<td></td>').text(topic.descriptions);
        var name = $('<td></td>').text(topic.name);
        var group = $('<td></td>').text(topic.groupName);
        var list = $('<ul style="list-style-type: none; margin: 0; padding: 0;"></ul>');
        topic.specificationFiles.forEach(function (f) {
            var fileName = f.fileName;
            var fileTypeIcon = getFileTypeIcon(fileName);
            var link = $('<a></a>')
                .attr('href', '/file/download?filePath=' + encodeURIComponent(f.path))
                .attr('target', '_blank')
                .append(fileTypeIcon).append(fileName);
            list.append($('<li></li>').append(link));
        });
        var specFiles = $('<td></td>').append(list);
        topicTable.append($('<tr></tr>').append(num, name, description, specFiles, group));
    }

    $(document).ready(function () {
        showSpinner();
        $.when(getStudents(), getIterations(), getTopics()).done(function () {
            hideSpinner();
        });
    });
</script>
<style>
    .student-management, .iteration-management, .topic-management {
        padding: 0 16px;
    }

    .import-student-popup {
        width: 75%;
        height: 450px;
    }

    .add-topic-popup {
        width: 550px;
        height: 550px;
    }

    .import-student-list {
        border-bottom: 1px solid lightgrey;
        border-top: 1px solid lightgrey;
        overflow-y: scroll;
    }

    #saveImportStudents {
        float: right;
    }

    #importXLSX {
        margin-right: 8px;
    }

    #submitTopic {
        float: right;
    }

    .status {
        font-weight: bold;
    }

    .status-in-progress {
        color: #F9A825;
    }

    .status-finish {
        color: #00C853;
    }

    .status-waiting {
        color: #F44336;
    }

    .finished-iteration td:not(.status) {
        color: grey;
    }

    #classSetting {
        font-size: 32px;
        color: grey;
    }

    #classSetting:hover {
        color: #03A9F4;
        cursor: pointer;
    }

    .class-setting-popup {
        width: 400px;
        height: 250px;
    }

    .class-setting table {
        width: 100%;
        font-weight: bold;
        font-size: 1.5em;
        border-bottom: 1px solid grey;
    }
</style>
</html>