<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${className}"></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/master.css}">
    <link rel="stylesheet" th:href="@{/css/popup.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <script type="text/javascript" th:src="@{/js/libraries/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/master.js}"></script>
    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
</head>
<body>
<div class="my-container">
    <div class="my-main">
        <div class="menu-bar">
            <table style="height: 100%; width: 100%">
                <tbody>
                <tr>
                    <td style="text-align: end;">
                        <span th:text="${userFullName}" th:remove="tag"></span>
                        <img src="https://i.pinimg.com/originals/d1/1a/45/d11a452f5ce6ab534e083cdc11e8035e.png"
                             class="user-logo">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="my-header">
            <h1 th:text="${className}"></h1>
            <span th:text="${startDate}"></span><span>&nbsp-&nbsp</span><span th:text="${endDate}"></span>
        </div>
        <div class="student-management">
            <h2>Students</h2>
            <table style="margin-bottom: 16px">
                <tbody>
                <tr>
                    <td>
                        <div style="padding-right: 8px">
                            <button class="my-btn my-btn-green" id="importStudents"><i class="fa fa-file fa-fw"></i>&nbspImport
                                Students
                            </button>
                        </div>
                    </td>
                    <td>
                        <div style="padding-right: 8px">
                            <button class="my-btn my-btn-blue" id="addStudent"><i class="fa fa-user fa-fw"></i>&nbspAdd
                                Student
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="my-table student-table">
                <thead>
                <tr>
                    <td class="id-cell"></td>
                    <td class="num-cell">#</td>
                    <td>Full Name</td>
                    <td>Student ID</td>
                    <td>Email</td>
                    <td class="id-cell group-id"></td>
                    <td>Group</td>
                    <td>Actions</td>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="topic-management">
            <h2>Topics</h2>
            <div style="margin-bottom: 16px">
                <button class="my-btn my-btn-blue" id="addTopic"><i class="fa fa-plus fa-fw"></i>&nbspAdd topic</button>
            </div>
            <table class="my-table topic-table">
                <thead>
                <tr>
                    <td class="num-cell">#</td>
                    <td>Topic</td>
                    <td>Attachments</td>
                    <td>Group ID</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="num-cell">1</td>
                    <td class="class-ref">OOAD Loophole</td>
                    <td>
                        <ul style="list-style-type: none; margin: 0; padding: 0">
                            <li><img class="attachment-icon" th:src="@{/images/repo-icons/zip.png}">specs.zip</li>
                            <li><img class="attachment-icon" th:src="@{/images/repo-icons/pdf.png}">brief.pdf</li>
                        </ul>
                    </td>
                    <td>F & Đồng bọn</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="deadline-management">
            <h2>Deadlines</h2>
            <table class="deadline-table my-table">
                <thead>
                <tr>
                    <td class="num-cell">#</td>
                    <td>Datetime</td>
                    <td>Message</td>
                    <td>Status</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="num-cell">1</td>
                    <td>23:59 13/12/2019</td>
                    <td>Initialize project</td>
                    <td class="status status-finish">FINISHED</td>
                </tr>
                <tr>
                    <td class="num-cell">2</td>
                    <td>23:59 20/12/2019</td>
                    <td>Prototype 1</td>
                    <td class="status status-in-progress">IN PROGRESS</td>
                </tr>
                <tr>
                    <td class="num-cell">3</td>
                    <td>23:59 27/12/2019</td>
                    <td>Prototype 2</td>
                    <td class="status status-waiting">WAITING</td>
                </tr>
                <tr class="tr-button">
                    <td class="num-cell"></td>
                    <td>
                        <button class="my-btn-blue my-btn" id="addDeadline">Add deadline</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="my-sidebar">
        <div class="app-title">OOAD<br>Loophole</div>
        <div class="navigation-menu">
            <div class="navigation-item selected"><i class="fa fa-home fa-fw"></i>&nbspCourses</div>
            <div class="navigation-item"><i class="fa fa-cog fa-fw"></i>&nbspSettings</div>
        </div>
    </div>
</div>
<div class="popup import-student-popup">
    <div class="popup-header">
        <span class="popup-close">
            <button><i class="fa fa-close"></i>&nbsp</button>
        </span>
        <span class="popup-title">Import students</span>
    </div>
    <div class="import-xlsx">
        <table style="direction: rtl; width: 100%; margin-bottom: 16px">
            <tbody>
            <tr>
                <!--                <td style="padding-right: 8px">-->
                <!--                    <div class="xlsx-path my-btn">XLSX path</div>-->
                <!--                </td>-->
                <td>
                    <button class="my-btn my-btn-red" id="downloadTemplate">Get template</button>
                    <button class="my-btn my-btn-blue" id="importXLSX">Upload XLSX</button>
                    <input type="file" style="display: none" id="xlsxUpload">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="import-student-list">
        <table class="my-table import-student-table">
            <thead>
            <tr>
                <td>#</td>
                <td>Full Name</td>
                <td>Student ID</td>
                <td>Email</td>
                <td>Group</td>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div style="margin-top: 16px">
        <button class="my-btn my-btn-green" id="saveImportStudents">
            Save
        </button>
    </div>
</div>
<div class="popup add-topic-popup">
    <div class="popup-header">
        <span class="popup-close">
            <button><i class="fa fa-close"></i>&nbsp</button>
        </span>
        <span class="popup-title">New topic</span>
    </div>
    <table class="form-table">
        <tbody>
        <tr>
            <td class="my-label"><label for="topicName">Topic Name</label>
            </td>
            <td>
                <input class="my-input" type="text" id="topicName">
            </td>
        </tr>
        <tr>
            <td class="my-label"><label for="groupId">Group</label>
            </td>
            <td>
                <select class="my-input" id="groupId">
                    <option value="0">Not set</option>
                    <option value="1">Avengers</option>
                    <option value="0">Justice League</option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit" id="submitTopic" class="my-btn my-btn-green">Add</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="loader-container">
    <div class="loader"></div>
</div>
<!--<div class="class-id" style="display: none" th:text="${classId}"></div>-->
</body>
<script>
    var studentTable = $('.student-table tbody');
    var importStudentTable = $('.import-student-table tbody');
    var importStudents;

    $('#importStudents').on('click', function () {
        clearImportTable();
        showPopup('.import-student-popup');
    });

    $('.import-student-popup .popup-close').on('click', function () {
        hidePopup('.import-student-popup');
    });

    $('#addTopic').on('click', function () {
        showPopup('.add-topic-popup');
    });

    $('.add-topic-popup .popup-close').on('click', function () {
        hidePopup('.add-topic-popup');
    });

    $('#downloadTemplate').on('click', function () {
        createStudentListTemplate();
    });

    $('#importXLSX').on('click', function () {
        $('#xlsxUpload').click()
    });

    $('#saveImportStudents').on('click', function () {
        saveImportStudents()
    });

    $('#addDeadline').on('click', function () {
        var table = $('.deadline-table');
        var newRowId = $('.deadline-table tbody tr').length;

        var newRow = $('<tr class="tr-button"></tr>');
        var numCell = $('<td class="num-cell"></td>').text(newRowId);
        var deadlineCell = $('<td></td>');
        var dateInput = $('<input type="date" class="deadline-date-input my-input">');
        var timeInput = $('<input type="time" class="deadline-time-input my-input" style="margin-left: 8px">');
        var confirmBtn = $('<button class="my-btn my-btn-green" style="width: 80px; margin-left: 8px">Save</button>').on('click', function () {
            var value = timeInput.val() + ' ' + dateInput.val();
            console.log(timeInput.val());
            dateInput.remove();
            timeInput.remove();
            this.remove();
            deadlineCell.text(value);
        });

        deadlineCell.append(dateInput, timeInput, confirmBtn);
        newRow.append(numCell, deadlineCell);

        table.find('tr:last').prev().after(newRow);
    });

    document.getElementById('xlsxUpload').addEventListener('change', function (e) {
        parseStudents(e);
        this.value = '';
    }, false);

    function parseStudents(evt) {
        clearImportTable();
        var file = evt.target.files[0];
        var reader = new FileReader();
        reader.onload = function (e) {
            var data = e.target.result;
            try {
                var workbook = XLSX.read(data, {
                    type: 'binary'
                });
            } catch (ex) {
                alert('Unable to process file!');
                return;
            }
            var XL_row_object = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[workbook.SheetNames[0]]);
            XL_row_object.forEach(function (em) {
                // console.log(em);
                var values = Object.values(em);
                var row = $('<tr></tr>');
                var num = $('<td></td>').text(values[0]);
                var name = $('<td></td>').text(values[1]);
                var studentId = $('<td></td>').text(values[2]);
                var email = $('<td></td>').text(values[3]);
                var group = $('<td></td>').text(values[4]);
                row.append(num, name, studentId, email, group);
                importStudentTable.append(row);
                importStudents.push({
                    'fullName': values[1],
                    'studentId': values[2],
                    'email': values[3],
                    'groupName': values[4]
                });
            });
        };

        reader.onerror = function () {
            alert('Unable to process file!')
        };

        reader.readAsBinaryString(file);
    }

    function createStudentListTemplate() {
        var wb = XLSX.utils.book_new();
        var ws_name = "students";
        var ws_data = [
            ['#', 'Full name', 'Student ID', 'Email', 'Group'],
            ['1', 'Phong Ha Tuan', '16020263', '16020263@vnu.edu.vn', 'F & Đồng bọn'],
            ['2', 'Nguyen Ngoc Lam', '16022408', '16022408@vnu.edu.vn', 'F & Đồng bọn']
        ];
        var ws = XLSX.utils.aoa_to_sheet(ws_data);
        XLSX.utils.book_append_sheet(wb, ws, ws_name);
        XLSX.writeFile(wb, 'students.xlsx');
    }

    function getStudents() {
        $.ajax({
            url: '/class/students',
            method: 'GET',
            success: function (jqXHR) {
                jqXHR.forEach(function (s, index) {
                    insertStudent(s, index + 1);
                })
            },
            error: function () {
                alert('Cannot get student list!');
            }
        });
    }

    function insertStudent(s, index) {
        var id = $('<td class="id-cell"></td>').text(s.userId);
        var num = $('<td class="num-cell"></td>').text(index);
        var fullName = $('<td></td>').text(s.fullName);
        var studentId = $('<td></td>').text(s.studentId);
        var email = $('<td></td>').text(s.email);
        var groupId = $('<td class="id-cell group-id"></td>').text(s.groupId);
        var groupName = $('<td></td>').text(s.groupName);
        var actions = $('<td><i class="fa fa-pencil fa-fw td-action-icon"></i>&nbsp<i class="fa fa-trash fa-fw td-action-icon"></i>&nbsp</td>');
        var row = $('<tr></tr>').append(id, num, fullName, studentId, email, groupId, groupName, actions);

        studentTable.append(row);
    }

    function saveImportStudents() {
        showSpinner();
        $.ajax({
            url: '/class/students/import',
            method: 'POST',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                'students': importStudents
            }),
            success: function () {
                window.location.reload();
            },
            error: function () {
                alert('Cannot update student list!');
            }
        })
    }

    function clearImportTable() {
        importStudentTable.empty();
        importStudents = [];
    }

    $(document).ready(function () {
        showSpinner();
        $.when(getStudents()).done(function () {
            hideSpinner();
        });
    });
</script>
<style>
    .my-header span {
        font-weight: bold;
        font-size: 1.5em;
    }

    .student-management, .deadline-management, .topic-management {
        padding: 0 16px;
    }

    #addTopic {
        width: 120px;
    }

    #addStudent {
        width: 160px;
    }

    #importStudents {
        width: 180px;
    }

    .import-student-popup {
        width: 75%;
        height: 450px;
    }

    .add-topic-popup {
        width: 400px;
        height: 180px;
    }

    #downloadTemplate {
        width: 150px;
    }

    .import-student-list {
        height: 300px;
        border-bottom: 1px solid lightgrey;
        border-top: 1px solid lightgrey;
        overflow-y: scroll;
    }

    #saveImportStudents {
        width: 120px;
        float: right;
    }

    #importXLSX {
        width: 120px;
        margin-right: 8px;
    }

    #submitTopic {
        width: 100px;
        float: right;
    }

    #addDeadline {
        width: 120px;
    }

    .deadline-date-input {
        width: 200px;
    }

    .deadline-time-input {
        width: 120px;
    }

    .attachment-icon {
        width: 24px;
        height: 24px;
        max-height: 100%;
        max-width: 100%;
        vertical-align: middle;
        margin-right: 4px;
        padding-bottom: 4px;
    }

    .status {
        font-weight: bold;
    }

    .status-in-progress {
        color: #F9A825;
    }

    .status-finish {
        color: #00C853;
    }

    .status-waiting {
        color: #F44336;
    }
</style>
</html>