<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="body-content" class="ui stackable grid">
    <link rel="stylesheet" th:href="@{/css/teacher/class_setting.css}">
    <input type="hidden" th:value="${class.get_id()}" name="classId">
    <div class="row">
        <div class="column">
            <div class="header">
                <div class="ui large labels">
                    <div class="ui blue label">
                        <i class="users icon nav-icon"></i>
                        <span th:text="${class.getClassName()}"></span>
                    </div>
                    <div class="ui grey label" th:text="${class.getSemesterName()}"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="ui top attached tabular menu">
                <a class="active student item" onclick="showTab('student')">Sinh viên</a>
                <a class="group item" onclick="showTab('group')">Nhóm</a>
                <a class="topic item" onclick="showTab('topic')">Đề tài</a>
                <a class="assignment item" onclick="showTab('assignment')">Bài tập</a>
            </div>
            <!---------------------------------Student table--------------------------------->
            <div class="ui active student tab segment stackable grid">
                <div class="row">
                    <div class="column">
                        <button type="button" class="ui labeled icon green button"
                                onclick="showModal('.modal.create-student')">
                            <i class="plus icon"></i>
                            Thêm mới
                        </button>
                        <button type="button" class="ui labeled icon green button"
                                onclick="showModal('.modal.import-student')">
                            <i class="file excel icon"></i>
                            Nhập từ Excel
                        </button>
                    </div>
                </div>
                <div class="row my-table-control">
                    <div class="eight wide column">
                        Hiển thị
                        &nbsp
                        <div class="ui compact selection dropdown page-length">
                            <input type="hidden">
                            <i class="dropdown icon"></i>
                            <div class="text">10</div>
                            <div class="menu">
                                <div class="item" data-value="10">10</div>
                                <div class="item" data-value="25">25</div>
                                <div class="item" data-value="50">50</div>
                                <div class="item" data-value="100">100</div>
                            </div>
                        </div>
                        &nbsp
                        mục
                    </div>
                    <div class="right aligned eight wide column">
                        Tìm kiếm:&nbsp
                        <div class="ui icon input table-search">
                            <input type="text" placeholder="Search...">
                            <i class="search icon"></i>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <table class="ui celled black sortable table" style="width: 100%">
                            <thead>
                            <tr>
                                <th class="one wide">#</th>
                                <th class="two wide">Thao tác</th>
                                <th class="three wide">MSSV</th>
                                <th class="four wide">Họ tên</th>
                                <th class="two wide">SĐT</th>
                                <th class="one wide">Đã kích hoạt</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <!---------------------------------Group table--------------------------------->
            <div class="ui group tab segment stackable grid">
                <div class="row">
                    <div class="column">
                        <button type="button" class="ui labeled icon green button"
                                onclick="showModal('.modal.create-group')">
                            <i class="plus icon"></i>
                            Thêm mới
                        </button>
                    </div>
                </div>
                <div class="row my-table-control">
                    <div class="eight wide column">
                        Hiển thị
                        &nbsp
                        <div class="ui compact selection dropdown page-length">
                            <input type="hidden">
                            <i class="dropdown icon"></i>
                            <div class="text">10</div>
                            <div class="menu">
                                <div class="item" data-value="10">10</div>
                                <div class="item" data-value="25">25</div>
                                <div class="item" data-value="50">50</div>
                                <div class="item" data-value="100">100</div>
                            </div>
                        </div>
                        &nbsp
                        mục
                    </div>
                    <div class="right aligned eight wide column">
                        Tìm kiếm:&nbsp
                        <div class="ui icon input table-search">
                            <input type="text" placeholder="Search...">
                            <i class="search icon"></i>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <table class="ui celled black sortable table" style="width: 100%">
                            <thead>
                            <tr>
                                <th class="one wide">#</th>
                                <th class="two wide">Thao tác</th>
                                <th class="three wide">Tên nhóm</th>
                                <th class="five wide">Trưởng nhóm&nbsp<i class="orange star icon"></i></th>
                                <th class="five wide">Thành viên&nbsp<i class="red dumbbell icon"></i></th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <!---------------------------------Topic table--------------------------------->
            <div class="ui topic tab segment stackable grid">
                <div class="row">
                    <div class="column">
                        <button type="button" class="ui labeled icon green button"
                                onclick="showModal('.modal.create-topic')">
                            <i class="plus icon"></i>
                            Thêm mới
                        </button>
                    </div>
                </div>
                <div class="row my-table-control">
                    <div class="eight wide column">
                        Hiển thị
                        &nbsp
                        <div class="ui compact selection dropdown page-length">
                            <input type="hidden">
                            <i class="dropdown icon"></i>
                            <div class="text">10</div>
                            <div class="menu">
                                <div class="item" data-value="10">10</div>
                                <div class="item" data-value="25">25</div>
                                <div class="item" data-value="50">50</div>
                                <div class="item" data-value="100">100</div>
                            </div>
                        </div>
                        &nbsp
                        mục
                    </div>
                    <div class="right aligned eight wide column">
                        Tìm kiếm:&nbsp
                        <div class="ui icon input table-search">
                            <input type="text" placeholder="Search...">
                            <i class="search icon"></i>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <table class="ui celled black sortable table" style="width: 100%">
                            <thead>
                            <tr>
                                <th class="one wide">#</th>
                                <th class="two wide">Thao tác</th>
                                <th class="three wide">Tên đề tài</th>
                                <th class="four wide">Mô tả</th>
                                <th class="two wide">Nhóm</th>
                                <th class="four wide">Tệp đính kèm</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <!---------------------------------Assignment tab--------------------------------->
            <div class="ui assignment tab segment stackable grid">
                <div class="row">
                    <div class="column">
                        <button type="button" class="ui labeled icon green button"
                                onclick="showModal('.modal.create-topic')">
                            <i class="plus icon"></i>
                            Thêm mới
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="three wide column">
                        <div class="ui vertical fluid menu">
                            <div class="active blue item assignment-item">
                                Bài tập tuần 1
                            </div>
                            <div class="item assignment-item">
                                Bài tập tuần 2
                            </div>
                            <div class="item assignment-item">
                                Bài tập tuần 3
                            </div>
                            <div class="item assignment-item">
                                Bài tập tuần 4
                            </div>
                        </div>
                    </div>
                    <div class="thirteen wide stretched column">
                        <div class="ui active tab segment assignment">
                            <div class="ui large fluid header">
                                Bài tập tuần 1
                                <div class="ui right floated icon buttons" style="margin: inherit">
                                    <button class="ui basic icon blue button edit-assignment" type="button"
                                            data-tooltip="Chỉnh sửa thông tin">
                                        <i class="pencil icon"></i>
                                    </button>
                                    <button class="ui basic icon red button delete-assignment" type="button"
                                            data-tooltip="Xoá bài tập">
                                        <i class="trash icon"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="ui divider" style="margin: 0 !important;"></div>
                            <div class="ui small header">
                                <span class="ui red text">
                                    <i class="red stopwatch icon" style="margin: 0 !important;"></i>
                                    Deadline:
                                </span>
                                <span class="deadline">14/04/2020</span>
                            </div>
                            <div class="content">
                                <span class="detail-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac massa arcu.
                                    Donec pellentesque vel mauris consectetur vehicula. Phasellus sit amet tincidunt risus.
                                    In velit nunc, accumsan at varius at, dictum a turpis. Duis bibendum at nulla vitae convallis.
                                    Donec quis erat mi. Integer molestie sed massa ac efficitur.
                                    Fusce a neque neque. Aenean rutrum sapien vel nulla congue, eu interdum magna lobortis.
                                    <br/>
                                    Integer quis nulla a enim suscipit blandit. Fusce sollicitudin accumsan eros, vitae lobortis justo vehicula et.
                                    In eu vehicula justo. Praesent quis lacus magna. Etiam mattis velit ligula, ut viverra turpis tristique ut.
                                    Proin sodales justo nec justo maximus rutrum. In turpis erat, rutrum vel velit eu, porttitor pretium tellus.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---------------------------------Student modals--------------------------------->
    <div class="ui tiny modal create-student">
        <div class="ui dimmer">
            <div class="ui loader"></div>
        </div>
        <div class="ui large header">
            <i class="green student icon"></i>
            Thêm mới
        </div>
        <div class="content">
            <div class="ui form create-student">
                <div class="field">
                    <div class="fields">
                        <div class="nine wide required field">
                            <label>Họ tên</label>
                            <input type="text" name="fullName" placeholder="Full name">
                        </div>
                        <div class="seven wide required field">
                            <label>MSSV</label>
                            <input type="text" name="studentId" placeholder="Student ID">
                        </div>
                    </div>
                </div>
                <div class="ui error message"></div>
                <div class="ui grey labeled icon button" onclick="hideModal('.modal.create-student')">
                    <i class="close icon"></i>
                    Hủy
                </div>
                <button class="ui right floated green labeled icon submit button">
                    <i class="plus icon"></i>
                    Thêm
                </button>
            </div>
        </div>
    </div>
    <div class="ui tiny modal edit-student">
        <div class="ui dimmer">
            <div class="ui loader"></div>
        </div>
        <div class="ui large header">
            <i class="green student icon"></i>
            Chỉnh sửa
        </div>
        <div class="content">
            <div class="ui form edit-student">
                <input type="hidden" name="id">
                <div class="field">
                    <div class="fields">
                        <div class="nine wide required field">
                            <label>Họ tên</label>
                            <input type="text" name="fullName" placeholder="Full name">
                        </div>
                        <div class="seven wide required field">
                            <label>MSSV</label>
                            <input type="text" name="studentId" placeholder="Student ID">
                        </div>
                    </div>
                </div>
                <div class="ui error message"></div>
                <div class="ui grey labeled icon button" onclick="hideModal('.modal.edit-student')">
                    <i class="close icon"></i>
                    Hủy
                </div>
                <button class="ui right floated blue labeled icon submit button">
                    <i class="plus icon"></i>
                    Lưu
                </button>
            </div>
        </div>
    </div>
    <div class="ui large modal import-student">
        <div class="ui dimmer">
            <div class="ui loader"></div>
        </div>
        <div class="ui large header">
            <i class="green file excel icon"></i>
            Nhập từ Excel
        </div>
        <div class="content">
            <div class="ui form import-student">
                <div class="field">
                    <input type="file" name="uploadExcel" hidden>
                    <div class="ui red labeled icon mini button" onclick="openImportStudentDialog()">
                        <i class="upload icon"></i>
                        Chọn tệp Excel
                    </div>
                    <div class="ui green labeled icon mini button" onclick="createStudentImportTemplate()">
                        <i class="download icon"></i>
                        Tải tệp mẫu
                    </div>
                </div>
                <div class="field">
                    <table class="ui small celled table import-student">
                        <thead>
                        <tr>
                            <th class="one wide">#</th>
                            <th class="two wide">MSSV</th>
                            <th>Họ tên</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="ui error message"></div>
                <div class="ui grey labeled icon button" onclick="hideModal('.modal.import-student')">
                    <i class="close icon"></i>
                    Hủy
                </div>
                <div class="ui right floated green labeled icon submit button">
                    <i class="plus icon"></i>
                    Thêm
                </div>
            </div>
        </div>
    </div>
    <div class="ui tiny modal delete-student">
        <div class="ui dimmer">
            <div class="ui loader"></div>
        </div>
        <div class="ui large header">
            <i class="red trash icon"></i>
            Cảnh báo
        </div>
        <div class="content">
            <div class="ui form delete-student">
                <input type="hidden" name="id">
                <div class="field">
                    <label>Bạn có chắc chắn muốn xóa sinh viên này không?</label>
                </div>
                <div class="ui error message"></div>
                <button class="ui red labeled icon submit button">
                    <i class="check icon"></i>
                    Có
                </button>
                <div class="ui grey labeled right floated icon button" onclick="hideModal('.modal.delete-student')">
                    <i class="close icon"></i>
                    Không
                </div>
            </div>
        </div>
    </div>
    <!---------------------------------Group modals--------------------------------->
    <div class="ui small modal create-group">
        <div class="ui dimmer">
            <div class="ui loader"></div>
        </div>
        <div class="ui large header">
            <i class="green users icon"></i>
            Thêm mới
        </div>
        <div class="content">
            <div class="ui form create-group">
                <div class="field">
                    <div class="fields">
                        <div class="eight wide required field">
                            <label>Tên nhóm</label>
                            <input type="text" name="name" placeholder="Group name">
                        </div>
                        <div class="eight wide required field">
                            <label>Trưởng nhóm</label>
                            <div class="ui search selection dropdown leader">
                                <input type="hidden" name="leaderId">
                                <i class="dropdown icon"></i>
                                <div class="default text">Select leader</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Thành viên</label>
                    <div class="ui multiple search selection dropdown member">
                        <input type="hidden" name="memberId">
                        <i class="dropdown icon"></i>
                        <div class="default text">Select member</div>
                    </div>
                </div>
                <div class="ui error message"></div>
                <div class="ui grey labeled icon button" onclick="hideModal('.modal.create-group')">
                    <i class="close icon"></i>
                    Hủy
                </div>
                <button class="ui right floated green labeled icon submit button">
                    <i class="plus icon"></i>
                    Thêm
                </button>
            </div>
        </div>
    </div>
    <!---------------------------------Topic modals--------------------------------->
    <div class="ui large modal create-topic">
        <div class="ui dimmer">
            <div class="ui loader"></div>
        </div>
        <div class="ui large header">
            <i class="green lightbulb outline icon"></i>
            Thêm mới
        </div>
        <div class="content">
            <div class="ui form create-topic">
                <div class="field">
                    <div class="fields">
                        <div class="nine wide field">
                            <div class="field">
                                <div class="fields">
                                    <div class="nine wide required field">
                                        <label>Tên đề tài</label>
                                        <input type="text" name="name" placeholder="Topic name">
                                    </div>
                                    <div class="seven wide field">
                                        <label>Nhóm</label>
                                        <div class="ui search selection dropdown assigned-group">
                                            <input type="hidden" name="groupId">
                                            <i class="dropdown icon"></i>
                                            <div class="default text">Select group</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="fields">
                                    <div class="sixteen wide field">
                                        <label>Mô tả</label>
                                        <textarea name="descriptions" placeholder="Description"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="seven wide field">
                            <div class="fields">
                                <div class="sixteen wide field">
                                    <label>Tệp đính kèm</label>
                                    <div class="ui input">
                                        <table class="ui small celled red table attachments">
                                            <thead>
                                            <tr>
                                                <th class="ten wide">Tên</th>
                                                <th class="four wide center aligned">Trạng thái</th>
                                                <th class="two wide"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td colspan="3">
                                                    <input type="file" hidden="" name="topicSpecFiles" multiple
                                                           accept="image/*, .pdf, .doc, .docx, .xlsx, .xml, .xls, .xlsx, .ppt, .pptx">
                                                    <div class="ui red labeled icon button"
                                                         onclick="openSpecFileDialog()">
                                                        <i class="upload icon"></i>
                                                        Choose file(s)
                                                    </div>
                                                    <label class="ui grey left pointing label">images, documents,
                                                        diagrams...</label>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui error message"></div>
                <div class="ui grey labeled icon button" onclick="hideModal('.modal.create-topic')">
                    <i class="close icon"></i>
                    Hủy
                </div>
                <button class="ui right floated green labeled icon submit button">
                    <i class="plus icon"></i>
                    Thêm
                </button>
            </div>
        </div>
    </div>
    <div class="ui large modal edit-topic">
        <div class="ui dimmer">
            <div class="ui loader"></div>
        </div>
        <div class="ui large header">
            <i class="green lightbulb icon"></i>
            Chỉnh sửa
        </div>
        <div class="content">
            <div class="ui form create-topic">
                <input type="hidden" name="id">
                <div class="field">
                    <div class="fields">
                        <div class="nine wide field">
                            <div class="field">
                                <div class="fields">
                                    <div class="nine wide required field">
                                        <label>Tên đề tài</label>
                                        <input type="text" name="name" placeholder="Topic name">
                                    </div>
                                    <div class="seven wide field">
                                        <label>Nhóm</label>
                                        <div class="ui search selection dropdown assigned-group">
                                            <input type="hidden" name="groupId">
                                            <i class="dropdown icon"></i>
                                            <div class="default text">Select group</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="fields">
                                    <div class="sixteen wide field">
                                        <label>Mô tả</label>
                                        <textarea name="descriptions" placeholder="Description"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="seven wide field">
                            <div class="fields">
                                <div class="sixteen wide field">
                                    <label>Tệp đính kèm</label>
                                    <div class="ui input">
                                        <table class="ui small celled red table spec-files">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Tên</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td colspan="2">
                                                    <input type="file" hidden="" name="topicSpecFiles" multiple>
                                                    <div class="ui red labeled icon button"
                                                         onclick="openSpecFileDialog()">
                                                        <i class="upload icon"></i>
                                                        Choose file(s)
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui error message"></div>
                <div class="ui grey labeled icon button" onclick="hideModal('.modal.edit-topic')">
                    <i class="close icon"></i>
                    Hủy
                </div>
                <button class="ui right floated blue labeled icon submit button">
                    <i class="plus icon"></i>
                    Sửa
                </button>
            </div>
        </div>
    </div>
    <div class="ui tiny modal delete-topic">
        <div class="ui dimmer">
            <div class="ui loader"></div>
        </div>
        <div class="ui large header">
            <i class="red trash icon"></i>
            Cảnh báo
        </div>
        <div class="content">
            <div class="ui form delete-topic">
                <input type="hidden" name="id">
                <div class="field">
                    <label>Bạn có chắc chắn muốn xóa đề tài này không?</label>
                </div>
                <div class="ui error message"></div>
                <button class="ui red labeled icon submit button">
                    <i class="check icon"></i>
                    Có
                </button>
                <div class="ui grey labeled right floated icon button" onclick="hideModal('.modal.delete-topic')">
                    <i class="close icon"></i>
                    Không
                </div>
            </div>
        </div>
    </div>
    <div class="ui tiny modal delete-spec">
        <div class="ui dimmer">
            <div class="ui loader"></div>
        </div>
        <div class="ui large header">
            <i class="red trash icon"></i>
            Cảnh báo
        </div>
        <div class="content">
            <div class="ui form delete-spec">
                <input type="hidden" name="id">
                <div class="field">
                    <label>Bạn có chắc chắn muốn xóa file này không?</label>
                </div>
                <div class="ui error message"></div>
                <button class="ui red labeled icon submit button">
                    <i class="check icon"></i>
                    Có
                </button>
                <div class="ui grey labeled right floated icon button" onclick="hideModal('.modal.delete-spec')">
                    <i class="close icon"></i>
                    Không
                </div>
            </div>
        </div>
    </div>
    <div class="ui modal jquery-template">
        <table>
            <tbody>
            <tr class="spec-upload-status">
                <td class="file-name">
                </td>
                <td class="center aligned">
                    <div class="ui active centered inline red loader"></div>
                    <div class="upload-success" style="display: none"><i class="large green check icon"></i></div>
                    <div class="upload-failure" style="display: none"><i class="large red close icon"></i></div>
                </td>
                <td class="center aligned">
                    <input type="hidden" name="id">
                    <div class="ui grey icon button delete-file"><i class="trash icon"></i></div>
                    <div class="ui grey icon button retry-upload" style="display: none"><i class="redo icon"></i></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script type="text/javascript" th:src="@{/js/teacher/class_setting/class_setting.js}"></script>
    <script type="text/javascript" th:src="@{/js/teacher/class_setting/api.js}"></script>
    <script type="text/javascript" th:src="@{/js/teacher/class_setting/student.js}"></script>
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.5/dist/xlsx.full.min.js"></script>
    <script type="text/javascript" th:src="@{/js/teacher/class_setting/import.js}"></script>
    <script type="text/javascript" th:src="@{/js/teacher/class_setting/topic.js}"></script>
    <script type="text/javascript" th:src="@{/js/teacher/class_setting/group.js}"></script>
</div>
</body>
</html>