<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="body-content">
    <link rel="stylesheet" th:href="@{/css/teacher/class.css}">
    <input type="hidden" th:value="${teacherId}" name="teacherId">
    <div class="row">
        <div class="column">
            <h3 class="header">
                <i class="chalkboard teacher icon"></i>
                Lớp của tôi
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="ui segment stackable grid card-view">
                <div class="row">
                    <div class="six wide column">
                        <label>Học kì</label>&nbsp
                        <div class="ui search selection dropdown semester">
                            <input type="hidden" name="semesterId">
                            <i class="dropdown icon"></i>
                            <div class="default text">Select semester</div>
                        </div>
                    </div>
                    <div class="ten wide column">
                        <div class="ui green right floated icon labeled button">
                            <i class="plus icon">
                            </i>
                            Thêm mới
                        </div>
                    </div>
                </div>
                <div class="class four column row">
                    <div class="column">
                        <a class="ui fluid black card card-template">
                            <div class="small image">
                                <img th:src="@{/images/class_example_card.jpg}" alt="something funny">
                            </div>
                            <div class="content">
                                <div class="header">Class name</div>
                                <div class="meta">
                                    <span class="semester">Semester</span>
                                </div>
                                <div class="description">
                                    Class description
                                </div>
                            </div>
                            <div class="extra content">
                                <i class="users icon"></i>
                                <span class="student-count"># students</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="ui fluid card card-template" style="display: none;" target="_blank">
        <div class="small image">
            <img alt="something funny">
        </div>
        <div class="content">
            <div class="header">Class name</div>
            <div class="meta">
                <span class="semester">Semester</span>
            </div>
            <div class="description">
                <i class="calendar icon"></i>
                <span class="class-description">Class description</span>
            </div>
        </div>
        <div class="extra middle aligned content">
            <div class="item">
                <div class="ui small labeled icon button student">
                    <i class="users icon"></i>
                    <span class="student-count"># students</span>
                </div>
                <div class="ui small right floated icon button setting-redirect">
                    <i class="cog icon"></i>
                </div>
            </div>
        </div>
    </a>
    <script type="text/javascript" th:src="@{/js/teacher/class/api.js}"></script>
    <script type="text/javascript" th:src="@{/js/teacher/class/class.js}"></script>
</div>
</body>
</html>