<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="body-content" class="ui stackable grid">
    <input type="hidden" name="classId" th:value="${class.get_id()}">
    <div class="row">
        <div class="column">
            <div class="header">
                <div class="ui large labels">
                    <div class="ui blue label">
                        <i class="users icon nav-icon"></i>
                        <span id="class-name" th:text="${class.getClassName()}"></span>
                    </div>
                    <div class="ui grey label">
                        <i class="cog icon"></i>
                        Class settings
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="twelve wide column">
            <div class="ui segment">
                <div class="ui segment">
                    <div class="ui general-settings form">
                        <div class="ui blue large header">Class name</div>
                        <div class="ui divider"></div>
                        <input type="hidden" name="teacherId" th:value="${class.getTeacherId()}">
                        <input type="hidden" name="semesterId" th:value="${class.getSemesterId()}">
                        <div class="field">
                            <div class="fields">
                                <div class="required four wide field">
                                    <label>Class</label>
                                    <input type="text" name="className" placeholder="Class name"
                                           th:value="${class.getClassName()}">
                                </div>
                                <div class="required four wide field">
                                    <label>Ngày học</label>
                                    <div class="ui selection dropdown dayOfWeek">
                                        <input type="hidden" name="scheduledDayOfWeek"
                                               th:value="${class.getScheduledDayOfWeek()}">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Chọn ngày học</div>
                                        <div class="menu">
                                            <div class="item" data-value="1">Thứ 2</div>
                                            <div class="item" data-value="2">Thứ 3</div>
                                            <div class="item" data-value="3">Thứ 4</div>
                                            <div class="item" data-value="4">Thứ 5</div>
                                            <div class="item" data-value="5">Thứ 6</div>
                                            <div class="item" data-value="6">Thứ 7</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui error message"></div>
                        <button class="ui small icon labeled green submit button">
                            <i class="save icon"></i>
                            Save
                        </button>
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui group-setting form">
                        <div class="ui blue large header">Group</div>
                        <div class="ui divider"></div>
                        <div class="field">
                            <div class="fields">
                                <div class="required four wide field">
                                    <label>Minimum group member count</label>
                                    <input type="number" name="groupMin" min="1" max="100" pattern="[^0-9]+">
                                </div>
                                <div class="required four wide field">
                                    <label>Maximum group member count</label>
                                    <input type="number" name="groupMax" min="1" max="100" pattern="[^0-9]+">
                                </div>
                            </div>
                        </div>
                        <div class="required eight wide field">
                            <label>Group registration deadline</label>
                            <div class="ui calendar deadline-picker">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" name="deadline" placeholder="Deadline">
                                </div>
                            </div>
                        </div>
                        <div class="ui error message"></div>
                        <button class="ui small icon labeled green submit button">
                            <i class="save icon"></i>
                            Save
                        </button>
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui iteration-setting form">
                        <div class="ui blue large header">Iteration</div>
                        <div class="ui divider"></div>
                        <div class="field">
                            <div class="fields">
                                <div class="required five wide field">
                                    <label>Default iteration length (days)</label>
                                    <input type="number" name="defaultLength" min="1" max="100" pattern="[^0-9]+">
                                </div>
                                <div class="required five wide field">
                                    <label>Maximum iteration length (days)</label>
                                    <input type="number" name="maxLength" min="1" max="100" pattern="[^0-9]+">
                                </div>
                            </div>
                        </div>
                        <div class="required field ten wide">
                            <label>Iteration setup deadline</label>
                            <div class="ui calendar deadline-picker">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" name="deadline" placeholder="Deadline">
                                </div>
                            </div>
                        </div>
                        <div class="ui error message"></div>
                        <button class="ui small icon labeled green submit button">
                            <i class="save icon"></i>
                            Save
                        </button>
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui discipline-setting form">
                        <div class="ui blue large header">Disciplines</div>
                        <div class="ui divider"></div>
                        <table class="ui celled black table">
                            <thead>
                            <tr>
                                <th class="four wide">Discipline</th>
                                <th class="ten wide">Description</th>
                                <th class="two wide center aligned">Status</th>
                            </tr>
                            </thead>
                            <tbody class="discipline-table"></tbody>
                        </table>
                        <div class="ui error message"></div>
                        <button class="ui small icon labeled green submit button">
                            <i class="save icon"></i>
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/teacher/class_settings/api.js"></script>
    <script type="text/javascript" src="/js/teacher/class_settings/class_settings.js"></script>
</div>
</body>
</html>