<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="body-content-teacher" class="ui stackable grid">
    <link rel="stylesheet" th:href="@{/css/teacher/grading-template.css}">
    <input hidden="" name="templateId" th:value="${template.get_id()}">
    <div class="row">
        <div class="column">
            <div class="ui blue icon label" id="template-name" th:text="${template.getGradingTemplateName()}"></div>
            <button class="ui mini grey icon button" id="template-name-edit-button" onclick="editTemplateName()"><i
                    class="pen icon"></i></button>
            <div class="ui mini input" id="template-name-input" style="display: none;">
                <input type="text" placeholder="" style="width: 250px">  <!--Lấy template name-->
            </div>
            <button class="ui mini blue icon button" id="template-name-save-button" style="display: none"
                    onclick="saveTemplateName()"><i class="check icon"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="ui segment">
                <div class="ui blue header">List of criteria</div>
                <div class="ui segments">
                </div>
                <div class="ui icon labeled blue small button" onclick="addCriteria()"><i class="plus icon"></i>Add
                </div>
            </div>
        </div>
    </div>
    <div class="ui modal template">
        <div class="ui criteria segment">
            <div class="ui grid">
                <div class="row">
                    <div class="column">
                        <div class="ui small criteria header">
                            New criteria
                        </div>
                    </div>
                </div>
                <div class="criteria-form row" style="display: none">
                    <div class="column">
                        <div class="ui grid">
                            <div class="two column row">
                                <div class="column">
                                    <div class="ui form">
                                        <div class="fields">
                                            <div class="eight wide required field">
                                                <label>Name</label>
                                                <input type="text" placeholder="New Criteria" name="name">
                                            </div>
                                            <div class="eight wide required field">
                                                <label>Weight</label>
                                                <input type="number" placeholder="Weight" name="weight">
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label>Description</label>
                                            <textarea placeholder="Lorem ipsum..." name="description"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="ui form">
                                        <div class="required field">
                                            <label>Level Definitions</label>
                                            <table class="ui black celled table small level-definition"
                                                   style="margin-top: 0">
                                                <thead>
                                                <tr>
                                                    <th>Level Name</th>
                                                    <th>Weight</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td colspan="2">
                                                        <div class="ui blue icon button add-level"><i
                                                                class="plus icon"></i></div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <div class="ui blue button save">Save
                                    </div>
                                    <div class="ui right floated black button close">Close</div>
                                    <div class="ui right floated grey button delete">Delete</div>
                                </div>
                            </div>
                            <div class="row error" style="display: none">
                                <div class="column">
                                    <div class="ui error message"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/teacher/edit_template/edit_template.js}"></script>
    <!--    <style>-->
    <!--        .criteria.header:hover {-->
    <!--            color: #008080;-->
    <!--            cursor: pointer;-->
    <!--            text-decoration: none;-->
    <!--        }-->

    <!--        .error {-->
    <!--            background-color: #fff6f6;-->
    <!--            border-color: #e0b4b4;-->
    <!--            color: #9f3a38;-->
    <!--            -webkit-box-shadow: none;-->
    <!--            box-shadow: none;-->
    <!--        }-->
    <!--    </style>-->
</div>
</body>
</html>