.full.height {
    height: 100%;
}

.full.width {
    width: 100%;
}

.my-footer {
}

.my-header {
}

.my-main {
}

.my-side-menu {
    width: 250px;
}

.my-center {
    flex: 1;
    padding: 0.5em;
}

.content-flex {
    display: flex;
}

.content-flex.flex-column {
    flex-flow: column;
}

.content-flex.flex-row {
    flex-flow: row;
}

.flex {
    flex: 1;
}

#toggleSidebar {
    display: none;
}

.my-logo {
    margin-right: 1.5em;
}

.nav-icon {
    float: none !important;
    margin: 0 0.5em 0 0 !important;
}

.nav-group-item:hover {
    color: #64B5F6 !important;
}

.body-header {
    color: #64B5F6 !important;
}

@media only screen and (max-width: 900px) {
    div.my-side-menu {
        display: none;
    }

    #toggleSidebar {
        display: flex;
    }
}

.notification .header {
    margin-bottom: 1em;
}

.notification .timestamp {
    float: right;
}

.notification .subject {
    font-weight: bold;
    font-size: 18px;
}

input[type=number] {
    -moz-appearance: textfield !important;
}

.ui.form input[type=number]::-webkit-inner-spin-button,
.ui.form input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    -moz-appearance: textfield !important;
    appearance: none !important;
    margin: 0 !important;
}
