html, body {
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.my-container {
    height: 100%;
    width: 100%;
    background-color: transparent;
}

.my-sidebar {
    height: 100%;
    width: 20%;
    background-image: linear-gradient(to right, #141E30, #243B55);
    color: white;
}

.app-title {
    padding-top: 16px;
    padding-left: 16px;
    font-size: 24px;
    font-weight: bold;
}

.my-main {
    height: 100%;
    width: 80%;
    color: black;
    background-color: white;
    float: right;
    display: flex;
    flex-flow: column;
}

.menu-bar {
    width: 100%;
    height: 50px;
    border-bottom: 2px solid lightgrey;
}

.my-header {
    padding-left: 16px;
}

.loader-container {
    width: 60px;
    height: 60px;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    z-index: 10;
}

.loader {
    border: 16px solid #616161; /* Light grey */
    border-top: 16px solid #03A9F4; /* Blue */
    border-radius: 50%;
    width: 100%;
    height: 100%;
    animation: spin 2s linear infinite;
}

.my-btn {
    border-radius: 20px;
    color: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    border: none;
    font-size: 16px;
    height: 40px;
    padding: 0 24px;
    cursor: pointer ;
}

.my-btn-green {
    background-color: #00E676;
}

.my-btn-blue {
    background-color: #03A9F4;
}

.my-btn-red {
    background-color: #F44336;
}

.user-logo {
    max-height: 40px;
    max-width: 40px;
    border-radius: 50%;
    border: 1px solid grey;
    background-color: grey;
    margin-right: 8px;
    vertical-align: middle;
}

.navigation-menu {
    margin-top: 16px;
}

.navigation-item {
    width: 100%;
    padding: 16px;
    color: white;
    display: block;
    text-decoration: none !important;
}

.navigation-item:hover {
    background-color: #4FC3F7;
    cursor: pointer;
}

.selected {
    background-color: #03A9F4;
}

.my-disabled-input {
    border: none !important;
    background-color: transparent;
    color: black;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.file-type-icon {
    width: 24px;
    height: 24px;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
    margin-right: 4px;
    padding-bottom: 4px;
}