.popup {
    position: fixed;
    border-radius: 16px;
    box-shadow: 8px 8px 4px grey;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    padding: 16px;
    background-color: white;
    border: 1px solid lightgrey;
    z-index: 2;
    display: none;
    overflow: auto;
    flex-flow: column;
}

.popup-header {
    align-content: end;
    font-size: 24px;
    width: 100%;
    height: 40px;
}

.popup-body {
    flex: 1 1 auto;
}

.popup-close {
    float: right;
    color: lightgrey;
}

.popup-close button {
    border: none;
    background-color: transparent;
}

.popup-close button i {
    font-size: 24px;
    color: grey;
}

.popup-title {
    float: left
}

.form-div {
    width: 100%;
    margin-bottom: 16px;
}

.my-input {
    height: 40px;
    width: 100%;
    font-size: 18px;
    border: 0.5px solid #03A9F4;
    border-radius: 20px;
    padding: 0 16px;
    box-sizing: border-box;
}

.form-table {
    width: 100%
}

.form-table td {
    padding-bottom: 8px;
}
