<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kích hoạt tài khoản</title>
    <link rel="stylesheet" th:href="@{/webjars/fomantic-ui/dist/semantic.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <script type="text/javascript" th:src="@{/js/libraries/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/fomantic-ui/dist/semantic.js}"></script>
</head>
<body>
<div class="ui middle aligned center aligned black grid">
    <div class="row">
        <div class="column" style="width: 400px">
            <h3 class="ui image header">
                <img th:src="@{/images/logo.png}" class="tiny image">
                <div class="content">
                    Kích hoạt tài khoản OOAD Loophole
                </div>
            </h3>
            <div class="ui large form activate">
                <div class="ui stacked segment">
                    <input type="hidden" name="token" th:value="${#httpServletRequest.getParameter('token')}">
                    <input type="hidden" name="userId" th:value="${userId}">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="Mật khẩu">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="confirmPassword" placeholder="Nhập lại mật khẩu">
                        </div>
                    </div>
                    <div class="ui error message"></div>
                    <button class="ui fluid large green submit button">Kích hoạt</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/activate.js}"></script>
</body>
</html>