<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="my-container">
    <div class="my-main">
        <div class="menu-bar">
            <table style="margin-left: 16px; height: 100%;">
                <tbody>
                <tr>
                    <td style="padding-right: 8px">
                        <div class="user-logo" style="text-align: center; vertical-align: middle">
                            <i class="fa fa-user" style="font-size: 24px; margin-top: 6px; color: white"></i>
                        </div>
                    </td>
                    <td>
                        <div>Ha Tuan Phong</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="my-header">
            <h1>My Header</h1>
        </div>
    </div>
    <div class="my-sidebar">
        <div class="app-title">OOAD<br>Loophole</div>
        <div class="navigation-menu">
            <div class="navigation-item selected"><i class="fa fa-home fa-fw"></i>Courses</div>
            <div class="navigation-item"><i class="fa fa-cog fa-fw"></i>Settings</div>
        </div>
    </div>
</div>
</body>
</html>